@using Application.Services.BackEnd.Owner.Profile.Queries
@using Domain.Entities.Users
@model ResultGetIndexChangePasswordOwnerProfileDto
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Identity
@inject UserManager<User> UserManager
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@inject IAuthorizationService AuthorizationService;
@{
    ViewData["Title"] = "پروفایل کاربری";
    Layout = "~/Areas/Owner/Views/Shared/_Layout.cshtml";
}

<div class="dokan-dashboard-content dokan-settings-content">
    <article class="dokan-settings-area">

        <ul class="nk-sub_nav_menus">
            <li class="sp_first_list store  ">
                <a asp-area="Owner" asp-controller="Profile" asp-action="Index"> اطلاعات فردی</a>
            </li>

            <li class="sp_first_list seller-info  active">
                <a asp-area="Owner" asp-controller="Profile" asp-action="ChangePassword">رمز عبور</a>
            </li>

        </ul>
        <div class="nk_title_settings_page">تنظیمات</div>
        <div class="dokan-ajax-response">
        </div>


        <form method="post" class="dokan-form-horizontal"
              asp-area="Owner"
              asp-controller="Profile"
              asp-action="ChangePassword">
            
            <div class="nk_main_fields_store">
                <div class="dokan-form-group">
                    <label class="dokan-w3 dokan-control-label" asp-for="CurrentPassword">رمز قبلی</label>
                    <div class="dokan-w5 dokan-text-left">
                        <input asp-for="CurrentPassword" class="dokan-form-control" type="password">
                         <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                    </div>
                </div>

                <br>

                <div class="dokan-form-group">
                    <label class="dokan-w3 dokan-control-label" asp-for="Password">رمز جدید</label>
                    <div class="dokan-w5 dokan-text-left">
                        <input asp-for="Password" class="dokan-form-control" type="password">
                         <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>

                <br>

                <div class="dokan-form-group">
                    <label class="dokan-w3 dokan-control-label" asp-for="ConfirmPassword">تکرار رمز جدید</label>
                    <div class="dokan-w5 dokan-text-left">
                        <input asp-for="ConfirmPassword" class="dokan-form-control" type="password">
                         <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <input type="hidden" asp-for="PhoneNumber" value="@UserManager.GetUserAsync(User).Result.PhoneNumber">

            @* <div class="dokan-form-group"> *@
            @*     <div class="dokan-w4 ajax_prev dokan-text-left" style="margin-left:24%;"> *@
            @*         <input type="submit" name="dokan_update_store_settings" class="dokan-btn dokan-btn-danger dokan-btn-theme" value="بروز رسانی"> *@
            @*     </div> *@
            @* </div> *@

            <button class="btn btn-primary btn-block subtotal-preview-btn" type="submit">ثبت</button>
        </form>
        
        <!--settings updated content ends-->
    </article>
</div>