<a id="smoothup" href="javascript:void()" class="back_to_top ">
    <span></span><strong>برگشت به بالا</strong>
</a>

<footer class="c-footer" id="footer_newkala">
<div class="container">

<nav class="c-footer__feature-innerbox ">

    <a title="پرداخت در محل" class="c-footer__badge">
        <div class="c-footer__feature-item"
             style="background:url(/Images/Settings/22414818.svg) 50% 0 no-repeat">
           روش پرداخت اعتباری
        </div>
    </a>
    <a title="پشتیبانی 24 ساعته" class="c-footer__badge">
        <div class="c-footer__feature-item"
             style="background:url(/Images/Settings/a9286d2f.svg) 50% 0 no-repeat">
            پشتیبانی 24 ساعته
        </div>
    </a>
    <a title="ضمانت اصلی بودن کالا" class="c-footer__badge">
        <div class="c-footer__feature-item"
             style="background:url(/Images/Settings/fdb293e6.svg) 50% 0 no-repeat">
            ضمانت در وززن کالا  
        </div>
    </a>
    <a title="تحویل اکسپرس" class="c-footer__badge">
        <div class="c-footer__feature-item"
             style="background:url(/Images/Settings/8f570b58.svg) 50% 0 no-repeat">
            تحویل درب انبار
        </div>
    </a>
    <a title="یک ماه ضمانت بازگشت" class="c-footer__badge">
        <div class="c-footer__feature-item"
             style="background:url(/Images/Settings/514926b1.svg) 50% 0 no-repeat">
            ضمانت فاکتور شما
        </div>
    </a>
</nav>
<hr>

<div class="c-footer__middlebar">

    <div class="c-footer__links">

        <nav id="pagelistwidget-2" class="c-footer__links--col widget_pagelistwidget">
            <div class="o-headline-links">
                <div>
                    <a>راهنمای خرید از اکوفولاد </a>
                </div>
            </div>
            <ul>

                <li>
                    <a href="#">پاسخ به پرسش‌های متداول</a>
                </li>
                <li>
                    <a href="#">نحوه ثبت سفارش</a>
                </li>
                <li>
                    <a href="#">رویه ارسال سفارش</a>
                </li>
                <li>
                    <a href="#">شیوه‌های پرداخت</a>
                </li>
                <li>
                    <a href="#">تماس با اکوفولاد </a>
                </li>
                <li>
                    <a href="#">رویه‌های بازگرداندن کالا</a>
                </li>
            </ul>

        </nav>
        <nav id="pagelistwidget-3" class="c-footer__links--col widget_pagelistwidget">
            <div class="o-headline-links">
                <div>
                    <a>خدمات مشتریان</a>
                </div>
            </div>
            <ul>

                <li>
                    <a href="#">پاسخ به پرسش‌های متداول</a>
                </li>
                <li>
                    <a href="#">نحوه ثبت سفارش</a>
                </li>
                <li>
                    <a href="#">رویه ارسال سفارش</a>
                </li>
                <li>
                    <a href="#">شیوه‌های پرداخت</a>
                </li>
                <li>
                    <a href="#">تماس با اکوفولاد </a>
                </li>
                <li>
                    <a href="#">رویه‌های بازگرداندن کالا</a>
                </li>
            </ul>

        </nav>
        <nav id="pagelistwidget-4" class="c-footer__links--col widget_pagelistwidget">
            <div class="o-headline-links">
                <div>
                    <a>با اکوفولاد </a>
                </div>
            </div>
            <ul>

                <li>
                    <a href="#">پاسخ به پرسش‌های متداول</a>
                </li>
                <li>
                    <a href="#">نحوه ثبت سفارش</a>
                </li>
                <li>
                    <a href="#">رویه ارسال سفارش</a>
                </li>
                <li>
                    <a href="#">شیوه‌های پرداخت</a>
                </li>
                <li>
                    <a href="#">تماس با اکوفولاد </a>
                </li>
                <li>
                    <a href="#">رویه‌های بازگرداندن کالا</a>
                </li>
            </ul>

        </nav>
    </div>


    <nav class="c-footer__form">


        <div class="">
            <div class="nk_title_newsletter ">از تخفیف‌ها و جدیدترین‌های ما‌ باخبر شوید:</div>

            <div class="nk_input_newsletter nk_input_mail_newsletter">
                <input type="email" class="nk_input_email_newsletter" name="email" value=""
                       placeholder="ایمیل خود را درج نمائید."/>
                <button type="button">ارسال</button>
            </div>

            <div class="nk_input_newsletter nk_phone_newsletter">
                <input type="number" class="nk_input_phone_newsletter" name="phone" value=""
                       placeholder="تلفن همراه خود را درج نمائید"/>
                <button type="button">ارسال</button>
            </div>
            <div class="result_newsletter"></div>
            <script>
                        jQuery(document).ready(function ($) {

                            $(".nk_phone_newsletter button").click(function () {

                                $('.result_newsletter').html("در حال ارسال...");

                                $.post(ajax_url,
                                    {
                                        action: "add_phone_to_newsletter",
                                        phone: $('.nk_input_phone_newsletter').val(),
                                    },
                                    function (data, status) {
                                        //alert("Data: " + data + "\nStatus: " + status);
                                        $('.result_newsletter').html(data);
                                        setTimeout(function () {
                                            $('.result_newsletter').html('');
                                        }, 4000);
                                    });
                            });


                            $(".nk_input_mail_newsletter button").click(function () {

                                $('.result_newsletter').html("در حال ارسال...");

                                $.post(ajax_url,
                                    {
                                        action: "add_mail_to_newsletter",
                                        email: $('.nk_input_email_newsletter').val(),
                                    },
                                    function (data, status) {
                                        //alert("Data: " + data + "\nStatus: " + status);
                                        $('.result_newsletter').html(data);
                                        setTimeout(function () {
                                            $('.result_newsletter').html('');
                                        }, 4000);
                                    });
                            });
                        });
                    </script>
        </div>

        <div class="c-footer__social">
            <span>ما را در شبکه های اجتماعی دنبال کنید.</span>
            <div class="c-footer__social-images">


                <div class="nk_socials_footer">

                    <a class="nk_item_social_footer " href="#" target="_blank">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a class="nk_item_social_footer " href="#" target="_blank">
                        <i
                            class="fab fa-telegram">
                        </i>
                    </a>
                    <a class="nk_item_social_footer " href="#"
                       target="_blank">
                        <i
                            class="fab fa-twitter">
                        </i>
                    </a>
                    <a class="nk_item_social_footer " href="#"
                       target="_blank">
                        <i class="fab fa-linkedin"></i>
                    </a>
                    <a class="nk_item_social_footer nk_aparat_page" href="#" target="_blank"></a>
                </div>


            </div>
        </div>


    </nav>

</div>

<hr>

<nav class="c-footer__address">
    <ul class="c-footer__contact">

        <li>۷ روز هفته، ۲۴ ساعته پاسخگوی شما هستیم.</li>

        <li>
            <span>شماره تماس: </span> <a rel="nofollow" href="tel:021-12345678" dir="ltr">021-12345678</a>
        </li>

        <li>
            <span>آدرس ایمیل: </span><a rel="nofollow" href="mailto:Info@domin.com" dir="ltr">Info@domin.com</a>
        </li>

    </ul>

    @* <div class="c-footer__address-images"> *@
    @*     <a href="https://newkalatheme.ir/preview/" target="_blank"> *@
    @*         <img src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20159%200'%3E%3C/svg%3E" *@
    @*              width="159" *@
    @*              data-lazy-src="/wp-content/themes/newkala/images/dl_ios.png"> *@
    @*         <noscript> *@
    @*             <img src="/wp-content/themes/newkala/images/dl_ios.png" width="159"> *@
    @*         </noscript> *@
    @*     </a> *@
    @*     <a href="https://newkalatheme.ir/preview/" target="_blank"> *@
    @*         <img src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20159%200'%3E%3C/svg%3E"width="159"data-lazy-src="/wp-content/themes/newkala/images/dl_android.png"> *@
    @*         <noscript> *@
    @*             <img src="/wp-content/themes/newkala/images/dl_android.png"width="159"> *@
    @*         </noscript> *@
    @*     </a> *@
    @* </div> *@

</nav>

</div>

</footer>

<div id="newkala-bottom-footer" class="c-footer__more-info">
    <div class="container">

        <div class="c-footer__description-content">
            <div class="c-footer__content">
                <div id="about_us_footer" class="c-footer__seo">

                    <h2>درباره فروشگاه اینترنتی اکوفولاد </h2>
                    <p>
شرکت آهن قراضه ملی ایران با شناخت نیازصنعت و جامعه در زمینه بازیافت ضایعات فعالیت خود را از سال 1394آغاز نموده و در تاریخ1/5/1396فعالیت خود را به صورت رسمی واقع در باقر شهر، نبش شهرسنگ آغاز

نموده است. این شرکت مجهز به دستگاه های پیشرفته چنگ و پرس؛ برش و ... می باشد.

خرید این شرکت با شرکت در مزایدات ، ارتباطات با مشتریان و شناسایی مراکز ضایعات در تهران، ضایعات موردنیاز را خریداری می نماید. مشتریان می توانند با برقراری ارتباط تلفنی، تلگرام ،سایت و اینستاگرام با ما ارتباط برقرار نمایند.
شرکت آهن قراضه ملی ایران با شناخت نیازصنعت و جامعه در زمینه بازیافت ضایعات فعالیت خود را از سال 1394آغاز نموده و در تاریخ1/5/1396فعالیت خود را به صورت رسمی واقع در باقر شهر، نبش شهرسنگ آغاز

نموده است. این شرکت مجهز به دستگاه های پیشرفته چنگ و پرس؛ برش و ... می باشد.

خرید این شرکت با شرکت در مزایدات ، ارتباطات با مشتریان و شناسایی مراکز ضایعات در تهران، ضایعات موردنیاز را خریداری می نماید. مشتریان می توانند با برقراری ارتباط تلفنی، تلگرام ،سایت و اینستاگرام با ما ارتباط برقرار نمایند.
                        </p>

                </div>

            </div>

            <aside class="aside_footer">
                <ul class="c-footer__safety-partner logos_offices">
                    <li>
                        <img
                            src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%200%200'%3E%3C/svg%3E"
                            data-lazy-src="/Images/Settings/enamad.png">
                        <noscript>
                            <img src="/Images/Settings/enamad.png">
                        </noscript>
                    </li>
                    <li>
                        <img
                            src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%200%200'%3E%3C/svg%3E"
                            data-lazy-src="/Images/Settings/samandehi.png">
                        <noscript>
                            <img src="/Images/Settings/samandehi.png">
                        </noscript>
                    </li>
                </ul>

            </aside>
        </div>


        <div class="nk_footer_brands">

            <img class="footer_item_brand"
                 src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%200%200'%3E%3C/svg%3E"
                 data-lazy-src="/wp-content/uploads/2020/06/0b0d3f0a.svg">
            <noscript>
                <img class="footer_item_brand"
                     src="/wp-content/uploads/2020/06/0b0d3f0a.svg">
            </noscript>
            <img class="footer_item_brand"
                 src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%200%200'%3E%3C/svg%3E"
                 data-lazy-src="/wp-content/uploads/2020/06/964edb61.svg">
            <noscript>
                <img class="footer_item_brand"
                     src="/wp-content/uploads/2020/06/964edb61.svg">
            </noscript>
            <img class="footer_item_brand"
                 src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%200%200'%3E%3C/svg%3E"
                 data-lazy-src="/wp-content/uploads/2020/06/6b24b899.svg">
            <noscript>
                <img class="footer_item_brand"
                     src="/wp-content/uploads/2020/06/6b24b899.svg">
            </noscript>
            <img class="footer_item_brand"
                 src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%200%200'%3E%3C/svg%3E"
                 data-lazy-src="/wp-content/uploads/2020/06/c8cfebe7.svg">
            <noscript>
                <img class="footer_item_brand"
                     src="/wp-content/uploads/2020/06/c8cfebe7.svg">
            </noscript>
            <img class="footer_item_brand"
                 src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%200%200'%3E%3C/svg%3E"
                 data-lazy-src="/wp-content/uploads/2020/06/b3be3881.svg">
            <noscript>
                <img class="footer_item_brand"
                     src="/wp-content/uploads/2020/06/b3be3881.svg">
            </noscript>
            <img class="footer_item_brand"
                 src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%200%200'%3E%3C/svg%3E"
                 data-lazy-src="/wp-content/uploads/2020/06/0feb6326.svg">
            <noscript>
                <img class="footer_item_brand"
                     src="/wp-content/uploads/2020/06/0feb6326.svg">
            </noscript>
        </div>


        <div class="c-footer__copyright">
            <div class="c-footer__copyright--text">
                <div class="copy-right fontIran">
                    استفاده از مطالب اکوفولاد  برای مقاصد غیرتجاری با ذکر نام اکوفولاد  و لینک
                    به منبع بلامانع است. حقوق این سایت به <span class="white fontIran">شرکت پارسا پولاد هور</span> تعلق
                    دارد. Copyright © 2010 &#8211; 2021
                </div>
                <div class="social-networks fontIran"></div>
            </div>
        </div>
    </div>
</div>