<div id="yith-wacp-popup" class="fade-in">

    <div class="yith-wacp-overlay"></div>

    <div class="yith-wacp-wrapper woocommerce">

        <div class="yith-wacp-main">

            <div class="yith-wacp-head">
                <a href="#"
                   class="yith-wacp-close">
                    X بستن
                </a>
            </div>

            <div class="yith-wacp-content"></div>

        </div>

    </div>

</div>

<script>

    jQuery(document).ready(function ($) {


        if ($("body.woocommerce-checkout form.woocommerce-checkout").length) {

            $('.newkala_content_right_checkout_page, .newkala_side_checkout_page').theiaStickySidebar({
                additionalMarginTop: $('header#header_newkala').height() + 50
            });
        }


        if ($(".woocommerce-MyAccount-navigation").length) {

            $('.woocommerce-MyAccount-content, .woocommerce-MyAccount-navigation').theiaStickySidebar({
                additionalMarginTop: $('header#header_newkala').height() + 50
            });
        }


    });

</script>

<div class="onliner_main_loading">
    <div class="content_loading">
        <img class="loading_image"
             src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%200%200'%3E%3C/svg%3E"
             data-lazy-src="https://newkalatheme.ir/preview/wp-content/themes/newkala/images/logo.svg">
        <noscript>
            <img class="loading_image"
                 src="https://newkalatheme.ir/preview/wp-content/themes/newkala/images/logo.svg">
        </noscript>
        <div class="cssload-container">
            <div class="cssload-loading">
                <i></i><i></i><i></i><i></i>
            </div>
        </div>
    </div>
</div>
@* </div> *@

<script type="text/javascript">
    (function () {
        var c = document.body.className;
        c = c.replace(/woocommerce-no-js/, 'woocommerce-js');
        document.body.className = c;
    })()
</script>
<script data-minify="1" type='text/javascript'
        src='/js/countdownTimer.js'
        id='countdownTimer-js'></script>
<script data-minify="1" type='text/javascript'
        src='/js/owl.carousel.min-2.3.4.js'
        id='owl-carousel-js'></script>
<script data-minify="1" type='text/javascript'
        src='/wp-content/themes/newkala/js/custom.js'
        id='nk-custom-jquery-js'></script>
<script type='text/javascript'
        src='https://newkalatheme.ir/preview/wp-content/plugins/yith-woocommerce-wishlist/assets/js/jquery.selectBox.min.js?ver=1.2.0'
        id='jquery-selectBox-js'></script>
<script type='text/javascript' id='jquery-yith-wcwl-js-extra'>
    /* <![CDATA[ */
    var yith_wcwl_l10n = {
        "ajax_url": "\/preview\/wp-admin\/admin-ajax.php",
        "redirect_to_cart": "no",
        "multi_wishlist": "",
        "hide_add_button": "1",
        "enable_ajax_loading": "",
        "ajax_loader_url": "https:\/\/newkalatheme.ir\/preview\/wp-content\/plugins\/yith-woocommerce-wishlist\/assets\/images\/ajax-loader-alt.svg",
        "remove_from_wishlist_after_add_to_cart": "1",
        "is_wishlist_responsive": "1",
        "time_to_close_prettyphoto": "3000",
        "fragments_index_glue": ".",
        "reload_on_found_variation": "1",
        "labels": {
            "cookie_disabled": "\u0645\u062a\u0627\u0633\u0641\u06cc\u0645\u060c \u0644\u06cc\u0633\u062a \u0639\u0644\u0627\u0642\u0647 \u0645\u0646\u062f\u06cc \u0632\u0645\u0627\u0646\u06cc \u0622\u0645\u0627\u062f\u0647 \u0627\u0633\u062a \u06a9\u0647 \u0634\u0645\u0627 \u06a9\u0648\u06a9\u06cc \u0645\u0631\u0648\u06af\u0631\u062a\u0648\u0646 \u0631\u0627 \u0641\u0639\u0627\u0644 \u06a9\u0631\u062f\u0647 \u0628\u0627\u0634\u06cc\u062f.",
            "added_to_cart_message": "<div class=\"woocommerce-notices-wrapper\"><div class=\"woocommerce-message\" role=\"alert\">\u0645\u062d\u0635\u0648\u0644\u0627\u062a \u0628\u0627 \u0645\u0648\u0641\u0642\u06cc\u062a \u0628\u0647 \u0633\u0628\u062f \u062e\u0631\u06cc\u062f\u062a\u0627\u0646 \u0627\u0636\u0627\u0641\u0647 \u0634\u062f\u0646\u062f<\/div><\/div>"
        },
        "actions": {
            "add_to_wishlist_action": "add_to_wishlist",
            "remove_from_wishlist_action": "remove_from_wishlist",
            "reload_wishlist_and_adding_elem_action": "reload_wishlist_and_adding_elem",
            "load_mobile_action": "load_mobile",
            "delete_item_action": "delete_item",
            "save_title_action": "save_title",
            "save_privacy_action": "save_privacy",
            "load_fragments": "load_fragments"
        }
    };
    /* ]]> */
</script>
<script data-minify="1" type='text/javascript'
        src='/js/jquery.yith-wcwl.js'
        id='jquery-yith-wcwl-js'></script>
<script type='text/javascript'
        src='https://newkalatheme.ir/preview/wp-content/plugins/woocommerce/assets/js/jquery-blockui/jquery.blockUI.min.js?ver=2.70'
        id='jquery-blockui-js'></script>
@* <script type='text/javascript' id='wc-add-to-cart-js-extra'> *@
@*     /* <![CDATA[ */ *@
@*     var wc_add_to_cart_params = { *@
@*         "ajax_url": "\/preview\/wp-admin\/admin-ajax.php", *@
@*         "wc_ajax_url": "\/preview\/?wc-ajax=%%endpoint%%", *@
@*         "i18n_view_cart": "\u0645\u0634\u0627\u0647\u062f\u0647 \u0633\u0628\u062f \u062e\u0631\u06cc\u062f", *@
@*         "cart_url": "https:\/\/newkalatheme.ir\/preview\/cart\/", *@
@*         "is_cart": "", *@
@*         "cart_redirect_after_add": "no" *@
@*     }; *@
@*     /* ]]> */ *@
@* </script> *@
<script type='text/javascript'
        src='https://newkalatheme.ir/preview/wp-content/plugins/woocommerce/assets/js/frontend/add-to-cart.min.js?ver=4.7.0'
        id='wc-add-to-cart-js'></script>
<script type='text/javascript'
        src='https://newkalatheme.ir/preview/wp-content/plugins/woocommerce/assets/js/js-cookie/js.cookie.min.js?ver=2.1.4'
        id='js-cookie-js'></script>
@* <script type='text/javascript' id='woocommerce-js-extra'> *@
@*     /* <![CDATA[ */ *@
@*     var woocommerce_params = { *@
@*         "ajax_url": "\/preview\/wp-admin\/admin-ajax.php", *@
@*         "wc_ajax_url": "\/preview\/?wc-ajax=%%endpoint%%" *@
@*     }; *@
@*     /* ]]> */ *@
@* </script> *@
<script type='text/javascript'
        src='https://newkalatheme.ir/preview/wp-content/plugins/woocommerce/assets/js/frontend/woocommerce.min.js?ver=4.7.0'
        id='woocommerce-js'></script>
@* <script type='text/javascript' id='wc-cart-fragments-js-extra'> *@
@*     /* <![CDATA[ */ *@
@*     var wc_cart_fragments_params = { *@
@*         "ajax_url": "\/preview\/wp-admin\/admin-ajax.php", *@
@*         "wc_ajax_url": "\/preview\/?wc-ajax=%%endpoint%%", *@
@*         "cart_hash_key": "wc_cart_hash_e888c10955f3a3fb7ceb95384432df7e", *@
@*         "fragment_name": "wc_fragments_e888c10955f3a3fb7ceb95384432df7e", *@
@*         "request_timeout": "5000" *@
@*     }; *@
@*     /* ]]> */ *@
@* </script> *@
<script type='text/javascript'
        src='https://newkalatheme.ir/preview/wp-content/plugins/woocommerce/assets/js/frontend/cart-fragments.min.js?ver=4.7.0'
        id='wc-cart-fragments-js'></script>
@* <script type='text/javascript' id='yith-wacp-frontend-script-js-extra'> *@
@*     /* <![CDATA[ */ *@
@*     var yith_wacp = { *@
@*         "ajaxurl": "\/preview\/?wc-ajax=%%endpoint%%", *@
@*         "actionAdd": "yith_wacp_add_item_cart", *@
@*         "actionRemove": "yith_wacp_remove_item_cart", *@
@*         "actionUpdate": "yith_wacp_update_item_cart", *@
@*         "loader": "https:\/\/newkalatheme.ir\/preview\/wp-content\/plugins\/yith-woocommerce-added-to-cart-popup-premium\/assets\/images\/loader.gif", *@
@*         "enable_single": "1", *@
@*         "is_mobile": "", *@
@*         "popup_size": {"width": "700", "height": "650"}, *@
@*         "form_selectors": "body.single-product form.cart:not(.in_loop),body.single-product form.bundle_form,body.singular-product form.cart,.yith-quick-view.yith-inline form.cart", *@
@*         "allow_automatic_popup": "1", *@
@*         "open_popup_selectors": "#yith-wacp-mini-cart" *@
@*     }; *@
@*     /* ]]> */ *@
@* </script> *@
<script type='text/javascript'
        src='https://newkalatheme.ir/preview/wp-content/plugins/yith-woocommerce-added-to-cart-popup-premium/assets/js/wacp-frontend.min.js?ver=1.6.0'
        id='yith-wacp-frontend-script-js'></script>
<script type='text/javascript'
        src='//newkalatheme.ir/preview/wp-content/plugins/woocommerce/assets/js/prettyPhoto/jquery.prettyPhoto.min.js?ver=3.1.6'
        id='prettyPhoto-js'></script>
<script type='text/javascript' id='jcaa-product-js-extra'>
    /* <![CDATA[ */
    var jcaa = {"enable_validation": "yes", "enable_attr_toggle": "yes"};
    /* ]]> */
</script>
<script data-minify="1" type='text/javascript'
        src='/js/product.js'
        id='jcaa-product-js'></script>
<script type='text/javascript'
        src='https://newkalatheme.ir/preview/wp-content/plugins/dokan-lite/assets/vendors/magnific/jquery.magnific-popup.min.js?ver=3.0.13'
        id='dokan-popup-js'></script>
<script type='text/javascript' id='dokan-i18n-jed-js-extra'>
    /* <![CDATA[ */
    var dokan = {
        "ajaxurl": "https:\/\/newkalatheme.ir\/preview\/wp-admin\/admin-ajax.php",
        "nonce": "90e6b0184b",
        "ajax_loader": "https:\/\/newkalatheme.ir\/preview\/wp-content\/plugins\/dokan-lite\/assets\/images\/ajax-loader.gif",
        "seller": {
            "available": "\u062f\u0631 \u062f\u0633\u062a\u0631\u0633",
            "notAvailable": "\u0645\u0648\u062c\u0648\u062f \u0646\u06cc\u0633\u062a."
        },
        "delete_confirm": "\u0634\u0645\u0627 \u0645\u0637\u0645\u0626\u0646 \u0647\u0633\u062a\u06cc\u062f\u061f",
        "wrong_message": "\u0638\u0627\u0647\u0631\u0627\u064b \u0627\u0634\u062a\u0628\u0627\u0647\u06cc \u0635\u0648\u0631\u062a \u06af\u0631\u0641\u062a\u0647 \u0627\u0633\u062a. \u0644\u0637\u0641\u0627 \u062f\u0648\u0628\u0627\u0631\u0647 \u062a\u0644\u0627\u0634 \u06a9\u0646\u06cc\u062f.",
        "vendor_percentage": "90",
        "commission_type": "percentage",
        "rounding_precision": "6",
        "mon_decimal_point": ".",
        "product_types": {
            "simple": "\u0633\u0627\u062f\u0647",
            "variable": "\u0645\u062a\u063a\u06cc\u0631",
            "grouped": "\u06af\u0631\u0648\u0647 \u0645\u062d\u0635\u0648\u0644"
        },
        "all_categories": "\u0647\u0645\u0647 \u062f\u0633\u062a\u0647 \u0628\u0646\u062f\u06cc \u0647\u0627",
        "product_vendors_can_create_tags": "",
        "product_inline_edit_nonce": "227d3e238e",
        "is_vendor_enabled": "",
        "not_enable_message": "\u062e\u0637\u0627! \u062d\u0633\u0627\u0628 \u0634\u0645\u0627 \u0628\u0631\u0627\u06cc \u0641\u0631\u0648\u0634 \u062a\u0627\u06cc\u06cc\u062f \u0646\u0634\u062f\u0647 \u0627\u0633\u062a. \u0644\u0637\u0641\u0627 \u0628\u0627 \u0645\u062f\u06cc\u0631 \u0633\u0627\u06cc\u062a \u062a\u0645\u0627\u0633 \u0628\u06af\u06cc\u0631\u06cc\u062f",
        "rest": {
            "root": "https:\/\/newkalatheme.ir\/preview\/wp-json\/",
            "nonce": "1f1d29a05d",
            "version": "dokan\/v1"
        },
        "api": null,
        "libs": [],
        "routeComponents": {"default": null},
        "routes": [],
        "urls": {"assetsUrl": "https:\/\/newkalatheme.ir\/preview\/wp-content\/plugins\/dokan-lite\/assets"}
    };
    /* ]]> */
</script>
<script data-minify="1" type='text/javascript'
        src='/js/jed.js'
        id='dokan-i18n-jed-js'></script>
@* <script data-minify="1" type='text/javascript' *@
@*         src='https://newkalatheme.ir/preview/wp-content/cache/min/1/preview/wp-content/plugins/dokan-lite/assets/js/login-form-popup-682956ecdeb9606d5addc8921562ec6f.js' *@
@*         id='dokan-login-form-popup-js'></script> *@
<script type='text/javascript'
        src='https://newkalatheme.ir/preview/wp-content/plugins/yith-woocommerce-added-to-cart-popup-premium/assets/js/perfect-scrollbar.min.js?ver=1.6.0'
        id='wacp-scroller-plugin-js-js'></script>
<script type='text/javascript' src='https://newkalatheme.ir/preview/wp-includes/js/comment-reply.min.js?ver=5.6'
        id='comment-reply-js'></script>

<div class="newkala_container_dl_app_in_mobile">
    <span class="close_its">x</span>
    <img data-skip-lazy="" class="skip-lazy"
         src="https://newkalatheme.ir/preview/wp-content/uploads/2019/11/c16e1ef6.png">
    <span class="des_notification_dl_app">کارایی بهتر در اپلیکیشن</span>
    <a target="_blank" rel="nofollow" href="https://newkalatheme.ir/preview/">دانلود برنامه</a>
</div>

<script>

    jQuery('span.close_its').on('click', function () {
        jQuery('.newkala_container_dl_app_in_mobile').hide(0);
    });
    jQuery(document).ready(function ($) {
        setTimeout(function () {
            jQuery('.newkala_container_dl_app_in_mobile').css('opacity', '1');
        }, 3000);
    });

</script>

<script>window.lazyLoadOptions = {
    elements_selector: "img[data-lazy-src],.rocket-lazyload",
    data_src: "lazy-src",
    data_srcset: "lazy-srcset",
    data_sizes: "lazy-sizes",
    class_loading: "lazyloading",
    class_loaded: "lazyloaded",
    threshold: 300,
    callback_loaded: function (element) {
        if (element.tagName === "IFRAME" && element.dataset.rocketLazyload == "fitvidscompatible") {
            if (element.classList.contains("lazyloaded")) {
                if (typeof window.jQuery != "undefined") {
                    if (jQuery.fn.fitVids) {
                        jQuery(element).parent().fitVids()
                    }
                }
            }
        }
    }
};
window.addEventListener('LazyLoad::Initialized', function (e) {
    var lazyLoadInstance = e.detail.instance;
    if (window.MutationObserver) {
        var observer = new MutationObserver(function (mutations) {
            var image_count = 0;
            var iframe_count = 0;
            var rocketlazy_count = 0;
            mutations.forEach(function (mutation) {
                for (i = 0; i < mutation.addedNodes.length; i++) {
                    if (typeof mutation.addedNodes[i].getElementsByTagName !== 'function') {
                        return
                    }
                    if (typeof mutation.addedNodes[i].getElementsByClassName !== 'function') {
                        return
                    }
                    images = mutation.addedNodes[i].getElementsByTagName('img');
                    is_image = mutation.addedNodes[i].tagName == "IMG";
                    iframes = mutation.addedNodes[i].getElementsByTagName('iframe');
                    is_iframe = mutation.addedNodes[i].tagName == "IFRAME";
                    rocket_lazy = mutation.addedNodes[i].getElementsByClassName('rocket-lazyload');
                    image_count += images.length;
                    iframe_count += iframes.length;
                    rocketlazy_count += rocket_lazy.length;
                    if (is_image) {
                        image_count += 1
                    }
                    if (is_iframe) {
                        iframe_count += 1
                    }
                }
            });
            if (image_count > 0 || iframe_count > 0 || rocketlazy_count > 0) {
                lazyLoadInstance.update()
            }
        });
        var b = document.getElementsByTagName("body")[0];
        var config = {childList: !0, subtree: !0};
        observer.observe(b, config)
    }
}, !1)</script>
<script data-no-minify="1" async
        src="https://newkalatheme.ir/preview/wp-content/plugins/wp-rocket/assets/js/lazyload/16.1/lazyload.min.js"></script>
<div class="black_opacity_responsive_menu"></div>
<div class="main_newkala_responsive_menu">

    <div class="logo_responsive_menu">
        <a href="https://newkalatheme.ir/preview">
            <img
                src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%200%200'%3E%3C/svg%3E"
                data-lazy-src="/Images/Settings/Logo-Header.jpg">
            <noscript>
                <img src="/Images/Settings/Logo-Header.jpg">
            </noscript>
        </a>


    </div>
    <partial name="_ResponsiveMenusPartial"/>
    <script>
        jQuery('.responsive_main_menu li.menu-item-has-children').append('<span class="toggle_menu"></span>');
        jQuery('.responsive_main_menu li.menu-item-has-children span.toggle_menu').click(function () {
            jQuery(this).parent().find('ul:first').toggleClass('show');
            jQuery(this).toggleClass("opened");
        });
    </script>
</div>

