@model ErrorViewModel
@{
    ViewData["Title"] = "Error Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="nk_container_404 product-content-onliner">
    <div class="c-404__title">
        <h1 style="text-align: center;">صفحه‌ای که دنبال آن بودید پیدا نشد!</h1>
        <p>
            <img class="aligncenter wp-image-2613 size-full" 
                 src="/Images/Settings/ErrorPage.png" 
                 alt="404 Error" 
                 srcset="/Images/Settings/ErrorPage.png 918w,/Images/Settings/ErrorPage.png  600w" sizes="(max-width: 918px) 100vw, 918px" width="918" height="454">
        </p>
    </div>
    <div class="c-404__actions"></div>
</div>