@using Application.Services.FrontEnd.Common
@inject ISiteSetting _siteSetting;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="fa">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'name='viewport'/>
    <link rel="icon" type="image/png" href="/Images/Settings/FavIcon/android-icon-192x192.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/Images/Settings/FavIcon/android-icon-192x192.png">
    <title>@ViewData["Title"].ToString() | @_siteSetting.GetSiteSetting().SiteName</title>
    <!--    font--------------------------------------------->
    <link rel="stylesheet" href="~/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/assets/css/materialdesignicons.css">
    <link rel="stylesheet" href="~/assets/css/materialdesignicons.css.map">
    <!--    font--------------------------------------------->
    <link rel="stylesheet" href="~/assets/css/bootstrap.css">
    <link rel="stylesheet" href="~/assets/css/style.css">
</head>

<body>
@RenderBody()
<partial name="_ValidationScriptsPartial"/>
@* <script src="~/assets/js/jquery-3.2.1.min.js"></script> *@
<script src="~/assets/js/bootstrap.js"></script>
<script>$('.alertSlideUp').delay(5000).slideUp(300); </script>
@await RenderSectionAsync("Foo", false)
</body>
</html>