html body,
body,
body input,
body button, body select, body textarea, body button, body .mapp-container .feature-popup {
    font-family: IRANYekan-fa;
}

html body #mega-menu-wrap-main-menu #mega-menu-main-menu > li.mega-menu-tabbed > ul.mega-sub-menu > li.mega-menu-item > a.mega-menu-link, html body #mega-menu-wrap-main-menu #mega-menu-main-menu > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item > a.mega-menu-link, html body #mega-menu-wrap-main-menu #mega-menu-main-menu > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-column > ul.mega-sub-menu > li.mega-menu-item > a.mega-menu-link, html body #mega-menu-wrap-main-menu #mega-menu-main-menu > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item li.mega-menu-item > a.mega-menu-link, html body #mega-menu-wrap-main-menu #mega-menu-main-menu > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-column > ul.mega-sub-menu > li.mega-menu-item li.mega-menu-item > a.mega-menu-link {
    font-family: IRANYekan-fa !important;
}

body {
    background-color: #f5f5f5;
    background-repeat: repeat;
    background-position: center center;
    background-size: auto;
}

/* SITE ANNOUNCEMENT */
header#header_newkala .top_header_section.content {
    background-color: #f5f5f5;
}

header#header_newkala .top_header_section .main_top_box .content {
    background-color: #ef394e;
}

header#header_newkala .top_header_section .main_top_box .content p {
    background-color: #fff;
    color: #000;
}

header#header_newkala .top_header_section .main_top_box .content a {
    background-color: #fff;
    color: #000;
}

header#header_newkala .top_header_section button i {
    color: #fff;
}

header.newkala_main_header_tag {
    background-color: #fff;
    background-repeat: repeat;
    background-position: center center;
    background-size: auto;
}

footer#footer_newkala {
    background-color: #eceff1;
    background-repeat: repeat;
    background-position: center center;
    background-size: auto;
}

#newkala-bottom-footer {
    background-color: #d7dee0;
    background-repeat: repeat;
    background-position: center center;
    background-size: auto;
}

#about_us_footer {
    color: #5d5959;
}

.c-footer__copyright--text {
    color: #5d5959;
}

#txt_search, .frm_search {
    background-color: #eceff1;
    color: #474747;
}

#txt_search::placeholder {
    color: #474747;
    opacity: 1; /* Firefox */
}

#txt_search:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #474747;
}

#txt_search::-ms-input-placeholder { /* Microsoft Edge */
    color: #474747;
}

#submit_search, #yith-searchsubmit {
    background-color: #eceff1;
    color: #5b5b5b;
}

#submit_search:before, #yith-searchsubmit:before {
    color: unset;
}

.header_cart_button {
    background-color: #fff;
    color: #424750;
}

body .header_cart_button span.header-icons-noti {
    background-color: #dd3333;
    color: rgb(255, 255, 255);
    border-color: #fff;
}

.nk_mini_cart_wrapper p.woocommerce-mini-cart__buttons a {
    background-color: #02cbe0;
    color: #fff;
}

.nk_mini_cart_wrapper .mini_cart_top_row a.newkala_cart_page_url_mini_cart {
    color: #0fabc6;
}

.nk_mini_cart_wrapper .mini_cart_top_row p.total .amount {
    color: #fb3449;
}

.content_login_register .nk_go_to_dashboard {
    color: #19bfd3;
}

.content_login_register .nk_go_to_my_account {
    color: #19bfd3;
}

a.back_to_top {
    background-color: #f5f5f5;
    color: #1b1b1b;
}

.c-footer__badge, .c-footer__badge .c-footer__feature-item {
    color: #606060;
}

.c-footer__contact li, .c-footer__contact li a {
    color: #222;
}

.c-footer__links--col, .c-footer__links--col a {
    color: #666;
}

.c-footer__social > span {
    color: #5d5959;
}

li.tablinks.active {
    color: #fff;
    background-color: #dd2323;
}

li.tablinks.active:before {
    background-color: #dd2323;
}

.main_details_special_offer.left_box_special_offer .percentage_value {
    background-color: #dd2323;
    color: #fff;
}

.main_details_special_offer.left_box_special_offer ins {
    color: #dd2323;
}

.title_main_special_offer {
    background-color: #dd2323;
}

.title_main_special_offer {
    color: #fff;
}

.go_to_all_products_offer {
    background-color: #00bfd6;
    color: #fff;
}

.woocommerce.main_product span.woocommerce-Price-amount {
    color: #000;
}

body.home .newkala_container_custom_price a.newkala_add_to_cart_button_loop {
    color: #fff;
    background-color: #00bfd6;
    border-color: #008fa0;
}

.summary.entry-summary form.cart button.single_add_to_cart_button[type="submit"] {
    background-color: #ef394e;
    color: #fff; /*border: 1px solid ;*/
}

body.single-product.woocommerce .summary.entry-summary .price, body.single-product.woocommerce .responsive_main_top_content_single_product p.price, body.single-product.woocommerce .responsive_main_top_content_single_product span.price {
    color: #fb3449;
}

.woocommerce-tabs.wc-tabs-wrapper ul.wc-tabs li.active a:after {
    background-color: #00bfd6;
}

.sms-notif-form .sms-notif-content button.sms-notif-submit, .sms-notif-form .sms-notif-content button.sms-notif-submit:hover {
    color: #fff;
}

.woocommerce .sms-notif-form .sms-notif-content button.sms-notif-submit {
    background-color: #37adc5;
}

.product_meta .tagged_as a, .product_meta span.brand_title a, .product_meta .sku_wrapper span.sku, .product_meta .posted_in a {
    color: #1ca2bd;
    border-bottom: 1px dashed #1ca2bd;
}

.woocommerce.main_product .woocommerce-loop-product__title {
    color: #666;
}

.title_widg_index h3 {
    border-bottom: 1px solid #ef5661;
}

.main_product.suggestion_random_product {
    border: 1px solid rgba(0, 191, 214, .3);
}

.mailpoet_form input.mailpoet_submit {
    background-color: #00bfd6;
    color: #fff;
}

.wmow_progress_wrapper .wmow_progress_bar {
    background-color: #fb3449;
}

body.archive .content-area#primary ul.products li span.onsale {
    border-left: 69px solid #ff637d;
    color: #fff;
}

body.archive .content-area#primary ul.products li span.woocommerce-Price-amount {
    color: #000;
}

body.archive .content-area#primary ul.products li .nk_discount_label {
    background-color: #fb3449;
    color: #fff;
}

.custom_order_by_sort.selected {
    background-color: #00bfd6;
    color: #fff;
}

body.woocommerce-cart .wc-proceed-to-checkout a.checkout-button, body.woocommerce-cart .wc-proceed-to-checkout a.checkout-button:hover {
    background-color: #00c9de;
    color: #fff;
}

body.woocommerce-checkout button#place_order[name="woocommerce_checkout_place_order"], body.woocommerce-checkout button#place_order[name="woocommerce_checkout_place_order"]:hover {
    background-color: #00c9de;
    color: #fff;
}

/* woocommerce_dashboard_setting */
header.nk_wooccommerce_header {
    background: linear-gradient(0deg, #54cea7 26%, #14919e 100%);
}

.sp_header_Contents ul a, .sp_header_Contents ul i {
    color: #fff;
}

.sp_phone_support .wc_phone_nummber, .sp_bell i {
    color: #fff;
}

.sp_header_Support .sp_phone_support {
    border-color: #fff;
}

.sp_bell .notify .heartbit {
    border-color: #ffcc01;
}

.sp_bell .notify .point {
    background-color: #ffcc01;
}

.information .sp_image_avatar img {
    border-color: #fff;
}

.information .sp_paragraph_avatar, .sp_avatar .sp_icon_avatar a {
    color: #fff;
}

.woocommerce-MyAccount-navigation-link--dashboard a i {
    color: #1d85cc;
}

.woocommerce-MyAccount-navigation-link--orders a i {
    color: #a7c92a;
}

.woocommerce-MyAccount-navigation-link--downloads a i {
    color: #793894;
}

.woocommerce-MyAccount-navigation-link--edit-address a i {
    color: #ed672a;
}

.woocommerce-MyAccount-navigation-link--edit-account a i {
    color: #e73788;
}

.woocommerce-MyAccount-navigation-link--comments a i {
    color: #faba34;
}

.woocommerce-MyAccount-navigation-link--customer-logout a i {
    color: #373074;
}

.sp_Information_panel li.wallet {
    background: linear-gradient(90deg, #c670d5 15%, #aa36bd 100%);
}

.sp_Information_panel li.order {
    background: linear-gradient(90deg, #9bcb81 15%, #6fb14f 100%);
}

.sp_Information_panel li.number_of_registration_day {
    background: linear-gradient(90deg, #f35879 15%, #f51240 100%);
}

.sp_Information_panel li.discount_code {
    background: linear-gradient(90deg, #ffc64b 15%, #feb107 100%);
}

.product-content-onliner {
    line-height: 30px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.25px;
}

.sp_timer_wrapper .amazing_text_box span.amazing_first_text {
    color: #56565a;
}

.sp_timer_wrapper .amazing_text_box span.amazing_second_text {
    color: #fd3549;
}

.nk_input_newsletter button {
    background-color: #00bfd6;
    color: #fff;
}

.nk_title_newsletter {
    color: #666;
}

body.archive .newkala_container_custom_price a.newkala_add_to_cart_button_loop {
    background-color: #00bfd6;
    color: #fff;
}

nav.woocommerce-pagination ul.page-numbers li span.page-numbers.current {
    background-color: #00bfd6;
    color: #fff;
}

.title_login_register {
    color: #888;
}

.woocommerce-store-notice, p.demo_store {
    background-color: #5fc0d6;
    color: #fff;
}

.woocommerce.main_product ul.products li.product .woocommerce-loop-product__title {
    white-space: nowrap;
    text-overflow: ellipsis;
}

.nk_full_container_slider .container .nk_icon_full_slider {
    background-position: center 35px;
}

.nk_full_container_slider .container li.nk_icon_full_slider_mobile {
    background-position: center 0px;
}

.nk_full_container_slider .container li.nk_icon_full_slider_mobile a {
    margin-bottom: 0px;
}

.nk-menu-shop-pages.full_width_main_menu {
    background-color: #fff;
}

.nk-menu-shop-pages .nk_mega_menu > li > a {
    color: #333;
}

.nk-menu-shop-pages .nk_mega_menu > li:hover > a {
    color: #333;
    border-color: #ee5661
}

.nk-menu-shop-pages .nk_mega_menu > li > a:hover {
    background-color: #fff;
}

.nk-menu-blog-pages.full_width_main_menu {
    background-color: #6b7074;
}

.nk-menu-blog-pages .nk_mega_menu > li > a {
    color: #fff;
}

.nk-menu-blog-pages .nk_mega_menu > li:hover > a {
    color: #fff;
    border-color: #63d0df
}

.nk_mega_menu > li.megamenu_by_tree_level.nk-side-tab .nk-tab-menu-items, .nk_mega_menu > li.megamenu_by_tree_level.nk-side-tab > .nk-tab-menu-items > ul {
    background-color: #fff;
}

.nk_mega_menu > li.megamenu_by_tree_level.nk-side-tab > .nk-tab-menu-items > ul > li {
    border-color: #fff;
}

.nk_mega_menu > li.megamenu_by_tree_level.nk-side-tab > .nk-tab-menu-items > ul > li:hover, .nk_mega_menu > li.megamenu_by_tree_level.nk-side-tab > .nk-tab-menu-items > ul > li.active {
    border-color: #f0f0f1;
}

.nk_mega_menu > li.megamenu_by_tree_level.nk-side-tab > .nk-tab-menu-items > ul > li > ul {
    border-right-color: #f0f0f1;
}

.nk_mega_menu > li.megamenu_by_tree_level.nk-side-tab > .nk-tab-menu-items > ul > li:hover, .nk_mega_menu > li.megamenu_by_tree_level.nk-side-tab > .nk-tab-menu-items > ul > li.active {
    background-color: #f9f9f9;
}

.nk_mega_menu > li.megamenu_by_tree_level.nk-side-tab > .nk-tab-menu-items > ul > li > a {
    color: #666;
}

.nk_mega_menu > li.megamenu_by_tree_level.nk-side-tab > .nk-tab-menu-items > ul > li:hover > a, .nk_mega_menu > li.megamenu_by_tree_level.nk-side-tab > .nk-tab-menu-items > ul > li.active > a {
    color: #ef394e;
}

.nk_mega_menu > li.megamenu_by_tree_level.nk-side-tab > .nk-tab-menu-items > ul > li > ul {
    background-color: #fff;
}

.nk_mega_menu > li.megamenu_by_tree_level.nk-side-tab > .nk-tab-menu-items > ul > li > ul > li > a {
    color: #000;
}

.nk_mega_menu > li.megamenu_by_tree_level.nk-side-tab > .nk-tab-menu-items > ul > li > ul > li > a:hover {
    color: #ef394e;
}

.nk_mega_menu > li.megamenu_by_tree_level.nk-side-tab > .nk-tab-menu-items > ul > li > ul > li > ul li a {
    color: #a0a0a0;
}

.nk_mega_menu > li.megamenu_by_tree_level.nk-side-tab > .nk-tab-menu-items > ul > li > ul > li > ul li a:hover {
    color: #ef394e;
}

.nk_mega_menu > li.megamenu_by_tree_level.nk-top-tab > ul {
    background-color: #fff;
}

.nk_mega_menu > li.megamenu_by_tree_level.nk-top-tab > ul > li > a {
    color: #666;
}

.nk_mega_menu > li.megamenu_by_tree_level.nk-top-tab > ul > li:hover > a, .nk_mega_menu > li.megamenu_by_tree_level.nk-top-tab > ul > li.active > a {
    color: #ef394e;
}

.nk_mega_menu > li.megamenu_by_tree_level > ul > li > ul {
    background-color: #fff;
}

.nk_mega_menu > li.megamenu_by_tree_level.nk-top-tab > ul > li > ul > li > a {
    color: #000;
}

.nk_mega_menu > li.megamenu_by_tree_level.nk-top-tab > ul > li > ul > li > a:hover {
    color: #ef394e;
}

.nk_mega_menu > li.megamenu_by_tree_level.nk-top-tab > ul > li > ul > li > ul li a {
    color: #a0a0a0;
}

.nk_mega_menu > li.megamenu_by_tree_level.nk-top-tab > ul > li > ul > li > ul li a:hover {
    color: #ef394e;
}

.nk_mega_menu > li.megamenu_by_two_level > ul {
    background-color: #fff;
}

.nk_mega_menu > li.megamenu_by_two_level > ul > li > a {
    color: #000;
}

.nk_mega_menu > li.megamenu_by_two_level > ul > li > a:hover {
    color: #ef3f3e;
}

.nk_mega_menu > li.megamenu_by_two_level > ul > li > ul li > a {
    color: #a0a0a0;
}

.nk_mega_menu > li.megamenu_by_two_level > ul > li > ul li > a:hover {
    color: #ef3f3e;
}

.nk_mega_menu > li.menu_absahri > ul li {
    background-color: #fff;
}

.nk_mega_menu > li.menu_absahri > ul ul li:first-child {
    border-top-color: #fff;
}

.nk_mega_menu > li.menu_absahri > ul li:hover {
    background-color: #fff;
}

.nk_mega_menu > li.menu_absahri > ul ul li:first-child:hover {
    border-top-color: #fff;
}

.nk_mega_menu > li.menu_absahri > ul a {
    border-bottom-color: #f4f4f5;
}

.nk-menu-shop-pages .nk_mega_menu > li.menu_absahri > ul a, .nk_mega_menu > li.menu_absahri > ul li.menu-item-has-children:after {
    color: #333;
}

.nk-menu-shop-pages .nk_mega_menu > li.menu_absahri > ul a:hover, .nk_mega_menu > li.menu_absahri > ul li.menu-item-has-children:hover:after {
    color: #ef3f3e !important;
}

@media only screen and (max-width: 768px) {
    body.nk_mobile section.mian_top_content_index aside.index_sidebar.index_sidebar_short-sidebar {
        display: None;
    }
}

.header_cart_button a.cart_page_url {
    color: rgb(0, 191, 214);
}

.product-content-onliner a {
    color: #ae0101;
}

.product-content-onliner a:hover {
    color: #e24747;
}

body.single-product .product-type-variable .summary p.price {
    display: none !important;
}

span.tagged_as {
    display: none
}

body.page-template-home-page section.mian_top_content_index aside.index_sidebar {
    order: 2;
    padding-left: 0;
    padding-right: 15px;
}

section.mian_top_content_index div.left_main_content_index {
    order: 1;
}

.woocommerce-widget-layered-nav ul {
    display: none;
}
