@using Domain.Entities.Orders
@model Application.Services.BackEnd.User.Orders.UserOrdersDto
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "جزیات سفارش";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}



<div class="woocommerce-MyAccount-content">
	<div class="woocommerce-notices-wrapper"></div>
	<p>
		سفارش #
		<mark class="order-number">@Model.Id</mark>
		در تاریخ
		<mark class="order-date">@Model.OrderDate.ToPersianDateTime().ToString("yyyy/MM/d")</mark>
		ثبت شده و هم اکنون 
		<mark class="order-status">
			   @if (Model.OrderStatus == OrderStatus.Processing)
                {
                    <span>سفارش در حال انجام میباشد</span>
                }else if (Model.OrderStatus == OrderStatus.Canceled)
                {
                    <span>سفارش کنسل شده است</span>
                }
                else if (Model.OrderStatus == OrderStatus.Delivered)
                {
                    <span>سفارش تحویل داده شده است</span>
                }
                else if (Model.OrderStatus == OrderStatus.Returned)
                {
                    <span>سفارش مرجوع گردیده است</span>
                }
		</mark>
		است.
	</p>


<section class="woocommerce-order-details">

    <h2 class="woocommerce-order-details__title">جزییات سفارش </h2>

    <table class="woocommerce-table woocommerce-table--order-details shop_table order_details">

        <thead>
        <tr>
            <th class="woocommerce-table__product-name product-name">مشخصات فروشنده</th>
        </tr>
        </thead>

        <tbody>
        <tr class="woocommerce-table__line-item order_item">

            <td class="woocommerce-table__product-name product-name">
                <a href=""></a>
                نام شخص حقیقی/حقوقی:
            </td>

            <td class="woocommerce-table__product-total product-total">
                <span class="woocommerce-Price-amount amount">
                    <bdi><span class="woocommerce-Price-currencySymbol">شرکت فلان</span></bdi>
                </span>
            </td>
            
            <td class="woocommerce-table__product-name product-name">
                <a href=""></a>
                شماره اقتصادی : 
            </td>
            
            <td class="woocommerce-table__product-total product-total">
                <span class="woocommerce-Price-amount amount">
                    <bdi><span class="woocommerce-Price-currencySymbol">-------</span></bdi>
                </span>
            </td>
            
            <td class="woocommerce-table__product-name product-name">
                <a href=""></a>
                شماره ثبت/شماره ملی : 
            </td>
                        
            <td class="woocommerce-table__product-total product-total">
                <span class="woocommerce-Price-amount amount">
                    <bdi><span class="woocommerce-Price-currencySymbol">-------</span></bdi>
                </span>
            </td>
            
            <td class="woocommerce-table__product-name product-name">
                <a href=""></a>
                شناسه ملی : 
            </td>
                                    
            <td class="woocommerce-table__product-total product-total">
                <span class="woocommerce-Price-amount amount">
                    <bdi><span class="woocommerce-Price-currencySymbol">-------</span></bdi>
                </span>
            </td>

        </tr>
        
        
        
        
        <tr class="woocommerce-table__line-item order_item">
        
                    <td class="woocommerce-table__product-name product-name">
                        <a href=""></a>
                        نام شخص حقیقی/حقوقی:
                        <br>
                    </td>
        
                    <td class="woocommerce-table__product-total product-total">
                        <span class="woocommerce-Price-amount amount">
                            <bdi><span class="woocommerce-Price-currencySymbol">شرکت فلان</span></bdi>
                        </span>
                    </td>
                    
                     <td class="woocommerce-table__product-name product-name ">
                        <a href=""></a>
                        شماره اقتصادی : 
                        <br>
                    </td>
                    
                    <td class="woocommerce-table__product-total product-total ">
                        <span class="woocommerce-Price-amount amount">
                            <bdi><span class="woocommerce-Price-currencySymbol">-------</span></bdi>
                        </span>
                    </td>
                    
                     <td class="woocommerce-table__product-name product-name">
                        <a href=""></a>
                        شماره ثبت/شماره ملی : 
                        <br>
                    </td>
                                
                    <td class="woocommerce-table__product-total product-total">
                        <span class="woocommerce-Price-amount amount">
                            <bdi><span class="woocommerce-Price-currencySymbol">-------</span></bdi>
                        </span>
                    </td>
                    
                    <td class="woocommerce-table__product-name product-name">
                        <a href=""></a>
                        شناسه ملی : 
                        <br>
                    </td>
                                            
                    <td class="woocommerce-table__product-total product-total">
                        <span class="woocommerce-Price-amount amount">
                            <bdi><span class="woocommerce-Price-currencySymbol">-------</span></bdi>
                        </span>
                    </td>
        
                </tr>

        
        
        
        
        
        
        
        
        
        
        
        
        
        
        <tr class="woocommerce-table__line-item order_item">

            <td class="woocommerce-table__product-name product-name">
                <a href=""></a>
                نام شخص حقیقی/حقوقی:
                <br>
            </td>

            <td class="woocommerce-table__product-total product-total">
                <span class="woocommerce-Price-amount amount">
                    <bdi><span class="woocommerce-Price-currencySymbol">شرکت فلان</span></bdi>
                </span>
            </td>
            
             <td class="woocommerce-table__product-name product-name">
                <a href=""></a>
                شماره اقتصادی : 
                <br>
            </td>
            
            <td class="woocommerce-table__product-total product-total">
                <span class="woocommerce-Price-amount amount">
                    <bdi><span class="woocommerce-Price-currencySymbol">-------</span></bdi>
                </span>
            </td>
            
             <td class="woocommerce-table__product-name product-name">
                <a href=""></a>
                شماره ثبت/شماره ملی : 
                <br>
            </td>
                        
            <td class="woocommerce-table__product-total product-total">
                <span class="woocommerce-Price-amount amount">
                    <bdi><span class="woocommerce-Price-currencySymbol">-------</span></bdi>
                </span>
            </td>
            
            <td class="woocommerce-table__product-name product-name">
                <a href=""></a>
                شناسه ملی : 
                <br>
            </td>
                                    
            <td class="woocommerce-table__product-total product-total">
                <span class="woocommerce-Price-amount amount">
                    <bdi><span class="woocommerce-Price-currencySymbol">-------</span></bdi>
                </span>
            </td>

        </tr>

        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        <tr class="woocommerce-table__line-item order_item">

            <td class="woocommerce-table__product-name product-name">
                <a href="https://product-mirzacode.ir/newkala/preview/product/%d8%aa%d8%a8%d9%84%d8%aa-%d8%a7%d9%be%d9%84-%d9%85%d8%af%d9%84-ipad-9-7-inch-2018-4g-%d8%b8%d8%b1%d9%81%d9%8a%d8%aa-128-%da%af%d9%8a%da%af%d8%a7%d8%a8%d8%a7%d9%8a%d8%aa/?attribute_pa_memory-internal=128-%DA%AF%DB%8C%DA%AF%D8%A7%D8%A8%D8%A7%DB%8C%D8%AA&amp;attribute_pa_color=gray">تبلت اپل مدل iPad 9.7 inch (2018) 4G ظرفيت 128 گيگابايت</a> <strong class="product-quantity">×&nbsp;1</strong><br>فروشنده: <a href="https://product-mirzacode.ir/newkala/preview/store/noveinpradazesh/">نوین پردازش</a>
                <ul class="wc-item-meta">
                    <li>
                        <strong class="wc-item-meta-label">حافظه داخلي:</strong>
                        <p>128 گیگابایت</p>
                    </li>
                    <li>
                        <strong class="wc-item-meta-label">انتخاب رنگ:</strong>
                        <p>خاکستری</p>
                    </li>
                </ul>
            </td>

            <td class="woocommerce-table__product-total product-total">
                <span class="woocommerce-Price-amount amount">
                    <bdi>16,382,000&nbsp;<span class="woocommerce-Price-currencySymbol">تومان</span></bdi>
                </span>
            </td>

        </tr>

        </tbody>

        <tfoot>
        <tr>
            <th scope="row">مجموع:</th>
            <td>
                <span class="woocommerce-Price-amount amount">16,453,700&nbsp;<span class="woocommerce-Price-currencySymbol">تومان</span></span>
            </td>
        </tr>
        <tr>
            <th scope="row">مالیات:</th>
            <td>
                <span class="woocommerce-Price-amount amount">1,480,833&nbsp;<span class="woocommerce-Price-currencySymbol">تومان</span></span>
            </td>
        </tr>
        <tr>
            <th scope="row">روش پرداخت:</th>
            <td>پرداخت هنگام دریافت</td>
        </tr>
        <tr>
            <th scope="row">قیمت نهایی:</th>
            <td>
                <span class="woocommerce-Price-amount amount">17,934,533&nbsp;<span class="woocommerce-Price-currencySymbol">تومان</span></span>
            </td>
        </tr>
        </tfoot>
    </table>


    <header>
        <h2>زیرسفارشات</h2>
    </header>


</section>	
</div>