@using Domain.Entities.Orders
@model List<Application.Services.BackEnd.User.Orders.UserOrdersDto>

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "سفارشات";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}


<table class="woocommerce-orders-table woocommerce-MyAccount-orders shop_table shop_table_responsive my_account_orders account-orders-table">
    <thead>
    <tr>
        <th class="woocommerce-orders-table__header woocommerce-orders-table__header-order-number">
            <span class="nobr">سفارش</span>
        </th>
        <th class="woocommerce-orders-table__header woocommerce-orders-table__header-order-date">
            <span class="nobr">تاریخ</span>
        </th>
        <th class="woocommerce-orders-table__header woocommerce-orders-table__header-order-status">
            <span class="nobr">وضعیت</span>
        </th>
        <th class="woocommerce-orders-table__header woocommerce-orders-table__header-order-total">
            <span class="nobr">مجموع</span>
        </th>
        <th class="woocommerce-orders-table__header woocommerce-orders-table__header-order-actions">
            <span class="nobr">عملیات ها</span>
        </th>
    </tr>
    </thead>

    <tbody>
    @foreach (var items in Model)
    {
        <tr class="woocommerce-orders-table__row woocommerce-orders-table__row--status-processing order">
            <td class="woocommerce-orders-table__cell woocommerce-orders-table__cell-order-number" data-title="سفارش">
                <a href="">
                   #@items.Id
                </a>

            </td>
            <td class="woocommerce-orders-table__cell woocommerce-orders-table__cell-order-date" data-title="تاریخ">
                <time datetime="2021-06-12T15:48:29+00:00">@items.OrderDate.ToPersianDateTime().ToString("yyyy/MM/d")</time>

            </td>
            <td class="woocommerce-orders-table__cell woocommerce-orders-table__cell-order-status" data-title="وضعیت">
                @if (items.OrderStatus == OrderStatus.Processing)
                {
                    <span>سفارش در حال انجام میباشد</span>
                }else if (items.OrderStatus == OrderStatus.Canceled)
                {
                    <span>سفارش کنسل شده است</span>
                }
                else if (items.OrderStatus == OrderStatus.Delivered)
                {
                    <span>سفارش تحویل داده شده است</span>
                }
                else if (items.OrderStatus == OrderStatus.Returned)
                {
                    <span>سفارش مرجوع گردیده است</span>
                }
            </td>
            
            <td class="woocommerce-orders-table__cell woocommerce-orders-table__cell-order-total" data-title="مجموع">
                <span class="woocommerce-Price-amount amount">
                    @items.TotalPrice.ToString("n0")
                    <span class="woocommerce-Price-currencySymbol">تومان</span>
                </span>
            </td>
            
            <td class="woocommerce-orders-table__cell woocommerce-orders-table__cell-order-actions" data-title="عملیات ها">
                <a asp-area="User" asp-controller="Orders" asp-action="Details" asp-route-id="@items.Id"
                   class="woocommerce-button button view">نمایش </a>
            </td>
            
        </tr>
  
    }
    </tbody>
</table>