@model Application.Services.BackEnd.User.Home.UserHomeInformationPanelDto
@using Domain.Entities.Users
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Identity
@inject IAuthorizationService AuthorizationService;
@inject SignInManager<User> SignInManager
@inject UserManager<Domain.Entities.Users.User> UserManager
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "پیشخوان";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




  @await Component.InvokeAsync("LayoutComponent")
    <div class="col-lg-9 col-md-8 col-xs-12 pull-right">
        <div class="col-lg-6 col-xs-12 pull-right">
            <div class="headline-profile">
                <span>اطلاعات شخصی</span>
            </div>
            <div class="profile-stats mt-3">
                <div class="profile-stats-row">
                    <div class="col-lg-6 col-md-6 col-xs-12 pull-right" style="padding:0;">
                        <div class="profile-stats-col">
                            <p><span> نام و نام خانوادگی :</span>حسن شجاعی</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-xs-12 pull-right" style="padding:0;">
                        <div class="profile-stats-col">
                            <p><span>پست الکترونیک :</span>info@digistore.com</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-xs-12 pull-right" style="padding:0;">
                        <div class="profile-stats-col">
                            <p><span>شماره تلفن همراه :</span>*******0991</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-xs-12 pull-right" style="padding:0;">
                        <div class="profile-stats-col">
                            <p><span>کد ملی :</span>-</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-xs-12 pull-right" style="padding:0;">
                        <div class="profile-stats-col">
                            <p><span>دریافت خبرنامه :</span>بله</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-xs-12 pull-right" style="padding:0;">
                        <div class="profile-stats-col">
                            <p><span>شماره کارت :</span>-</p>
                        </div>
                    </div>
                    <div class="profile-stats-action">
                        <a href="profile-additional-info.html" class="link-spoiler-edit"><i
                                class="fa fa-pencil"></i>ویرایش اطلاعات شخصی</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-xs-12 pull-right">
            <div class="headline-profile headline-profile-favorites">
                <span>لیست علاقه مندی</span>
            </div>
            <div class="profile-stats mt-3">
                <div class="profile-recent-fav">
                    <a href="#"><img src="assets/images/product-slider-2/111472656.jpg"></a>
                    <div class="profile-recent-fav-col">
                        <a href="#">گوشی موبایل سامسونگ مدل Samsung Galaxy S10 Plus SM...</a>
                        <div class="profile-recent-fav-price">۱,۷۴۶,۰۰۰تومان</div>
                        <div class="profile-recent-fav-remove">
                            <a href="#">
                                <i class="fa fa-trash"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="profile-recent-fav">
                    <a href="#"><img src="assets/images/product-slider-2/111472656.jpg"></a>
                    <div class="profile-recent-fav-col">
                        <a href="#">گوشی موبایل سامسونگ مدل Samsung Galaxy S10 Plus SM...</a>
                        <div class="profile-recent-fav-price">۱,۷۴۶,۰۰۰تومان</div>
                        <div class="profile-recent-fav-remove">
                            <a href="#">
                                <i class="fa fa-trash"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="profile-stats-action">
                    <a href="#" class="link-spoiler-edit"><i class="fa fa-pencil"></i>مشاهده و ویرایش لیست علاقه
                        مندی</a>
                </div>
            </div>
        </div>

        <div class="headline-profile order-end" style="margin-top:0;">
            <span>آخرین سفارش ها</span>
        </div>
        <div class="profile-stats profile-table">
            <div class="table-orders">
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">شماره سفارش</th>
                            <th scope="col">تاریخ ثبت سفارش</th>
                            <th scope="col">مبلغ قابل پرداخت</th>
                            <th scope="col">مبلغ کل</th>
                            <th scope="col">عملیات پرداخت</th>
                            <th scope="col">جزئیات</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td class="order-code">DKC-57262900</td>
                            <td>1 آذر 1398</td>
                            <td>0</td>
                            <td>43,000 تومان</td>
                            <td class="text-success">پرداخت موفق</td>
                            <td><i class="fa fa-angle-left"></i></td>
                        </tr>
                    </tbody>
                </table>

                <a href="#" class="table-orders-show-more">مشاهده لیست سفارش‌ها</a>
            </div>
        </div>
        <div class="page-profile headline-profile-favorites">
            <div class="page-navigation">
                <div class="page-navigation-title">سفارش‌های من</div>
                <a href="#" class="page-navigation-btn-back">بازگشت <i class="fa fa-angle-left"></i></a>
            </div>
            <div class="profile-orders">
                <div class="collapse">
                    <div class="profile-orders-item">
                        <div class="profile-orders-header">
                            <a href="profile-order-2.html" class="profile-orders-header-details">
                                <div class="profile-orders-header-summary">
                                    <div class="profile-orders-header-row">
                                        <span class="profile-orders-header-id">DKC-79356178</span>
                                        <span class="profile-orders-header-state">پرداخت شده</span>
                                    </div>
                                </div>
                            </a>
                            <hr class="ui-separator">
                            <div class="profile-orders-header-data">
                                <div class="profile-info-row">
                                    <div class="profile-info-label">تاریخ ثبت سفارش</div>
                                    <div class="profile-info-value">۷ آذر ۱۳۹۸</div>
                                </div>
                                <div class="profile-info-row">
                                    <div class="profile-info-label">مبلغ قابل پرداخت</div>
                                    <div class="profile-info-value">0</div>
                                </div>
                                <div class="profile-info-row">
                                    <div class="profile-info-label">مبلغ کل</div>
                                    <div class="profile-info-value">430,000,0</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>