@using Domain.Entities.Users
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Identity
@inject IAuthorizationService AuthorizationService;
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "پیشخوان";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}


<div class="sp_posts_and_Products">
                    <div class="sp_last_posts">
                        <div class="sp_top_last_posts dsh_last_posts_blog">
                            آخرین مطالب
                        </div>
                        <ul class="sp_bottom_last_posts">
                            <li>
                                <a href="https://product-mirzacode.ir/newkala/preview/blog/2021/01/24/%d8%a7%db%8c%d9%86%d8%af%db%8c%d8%a7%d9%86%d8%a7-%d8%ac%d9%88%d9%86%d8%b2-%db%b5-%d9%85%db%8c%e2%80%8c%d8%aa%d9%88%d8%a7%d9%86%d8%af-%da%a9%d9%be%db%8c-%d8%a7%d8%b2-%d9%81%db%8c%d9%84%d9%85/">
                                    <img width="210" height="210" src="https://product-mirzacode.ir/newkala/preview/wp-content/uploads/2021/01/Indiana-Jones-Harison-Ford-Logan--210x210.jpg" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="" srcset="https://product-mirzacode.ir/newkala/preview/wp-content/uploads/2021/01/Indiana-Jones-Harison-Ford-Logan--210x210.jpg 210w, https://product-mirzacode.ir/newkala/preview/wp-content/uploads/2021/01/Indiana-Jones-Harison-Ford-Logan--180x180.jpg 180w, https://product-mirzacode.ir/newkala/preview/wp-content/uploads/2021/01/Indiana-Jones-Harison-Ford-Logan--20x20.jpg 20w, https://product-mirzacode.ir/newkala/preview/wp-content/uploads/2021/01/Indiana-Jones-Harison-Ford-Logan--30x30.jpg 30w, https://product-mirzacode.ir/newkala/preview/wp-content/uploads/2021/01/Indiana-Jones-Harison-Ford-Logan--40x40.jpg 40w, https://product-mirzacode.ir/newkala/preview/wp-content/uploads/2021/01/Indiana-Jones-Harison-Ford-Logan--100x100.jpg 100w" sizes="(max-width: 210px) 100vw, 210px"/>
                                    <p>ایندیانا جونز ۵ می‌­تواند کپی از فیلم لوگان باشد</p>
                                </a>
                            </li>
                            <li>
                                <a href="https://product-mirzacode.ir/newkala/preview/blog/2021/01/24/%d8%b4%d8%a8%d8%a7%d9%87%d8%aa%e2%80%8c%d9%87%d8%a7%db%8c-%d8%b3%d8%b1%db%8c%d8%a7%d9%84-%d9%82%d9%88%d8%b1%d8%a8%d8%a7%d8%ba%d9%87-%d9%88-%d9%81%db%8c%d9%84%d9%85-%d9%86%d9%81%d8%b1%d8%aa%d8%9b/">
                                    <img width="210" height="210" src="https://product-mirzacode.ir/newkala/preview/wp-content/uploads/2021/01/LaHaine_Frog-Sereis-210x210.jpg" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="" srcset="https://product-mirzacode.ir/newkala/preview/wp-content/uploads/2021/01/LaHaine_Frog-Sereis-210x210.jpg 210w, https://product-mirzacode.ir/newkala/preview/wp-content/uploads/2021/01/LaHaine_Frog-Sereis-180x180.jpg 180w, https://product-mirzacode.ir/newkala/preview/wp-content/uploads/2021/01/LaHaine_Frog-Sereis-20x20.jpg 20w, https://product-mirzacode.ir/newkala/preview/wp-content/uploads/2021/01/LaHaine_Frog-Sereis-30x30.jpg 30w, https://product-mirzacode.ir/newkala/preview/wp-content/uploads/2021/01/LaHaine_Frog-Sereis-40x40.jpg 40w, https://product-mirzacode.ir/newkala/preview/wp-content/uploads/2021/01/LaHaine_Frog-Sereis-100x100.jpg 100w" sizes="(max-width: 210px) 100vw, 210px"/>
                                    <p>شباهت‌های سریال قورباغه و فیلم نفرت؛ بچه‌های پاریس در تهران</p>
                                </a>
                            </li>
                            <li>
                                <a href="https://product-mirzacode.ir/newkala/preview/blog/2021/01/24/%d8%a7%d9%86%da%af%d8%a7%d8%b4%d8%aa%d9%87%d8%9b-%d8%aa%d8%b4%d8%b1%db%8c%d8%ad-%da%a9%d8%a7%d9%85%d9%84-%d8%ae%d8%b7-%d8%b2%d9%85%d8%a7%d9%86%db%8c-%d9%86%d9%82%d8%b4-%d9%86%db%8c%d9%84-%d8%af%d8%b1/">
                                    <img width="210" height="210" src="https://product-mirzacode.ir/newkala/preview/wp-content/uploads/2021/01/TenetEndingExplainedNeilAndProtag-210x210.jpg" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="" srcset="https://product-mirzacode.ir/newkala/preview/wp-content/uploads/2021/01/TenetEndingExplainedNeilAndProtag-210x210.jpg 210w, https://product-mirzacode.ir/newkala/preview/wp-content/uploads/2021/01/TenetEndingExplainedNeilAndProtag-180x180.jpg 180w, https://product-mirzacode.ir/newkala/preview/wp-content/uploads/2021/01/TenetEndingExplainedNeilAndProtag-20x20.jpg 20w, https://product-mirzacode.ir/newkala/preview/wp-content/uploads/2021/01/TenetEndingExplainedNeilAndProtag-30x30.jpg 30w, https://product-mirzacode.ir/newkala/preview/wp-content/uploads/2021/01/TenetEndingExplainedNeilAndProtag-40x40.jpg 40w, https://product-mirzacode.ir/newkala/preview/wp-content/uploads/2021/01/TenetEndingExplainedNeilAndProtag-100x100.jpg 100w" sizes="(max-width: 210px) 100vw, 210px"/>
                                    <p>انگاشته؛ تشریح کامل خط زمانی نقش نیل در فیلم کریستوفر نولان</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="sp_last_posts">
                        <div class="sp_top_last_posts dsh_last_product">
                            آخرین محصولات
                        </div>
                        <ul class="sp_bottom_last_posts">
                            <li>
                                <a href="https://product-mirzacode.ir/newkala/preview/product/%d8%aa%d8%b3%d8%aa/">
                                    <p>تست</p>
                                </a>
                                <a href="https://product-mirzacode.ir/newkala/preview/product/%d8%aa%d8%b3%d8%aa/">
                                    <span>مشاهده محصول</span>
                                </a>
                            </li>
                            <li>
                                <a href="https://product-mirzacode.ir/newkala/preview/product/%da%af%d9%88%d8%b4%d9%8a-%d9%85%d9%88%d8%a8%d8%a7%d9%8a%d9%84-%d8%a7%d9%be%d9%84-%d9%85%d8%af%d9%84-iphone-x-2/">
                                    <img width="210" height="210" src="https://product-mirzacode.ir/newkala/preview/wp-content/uploads/2018/03/Apple-iPhone-X-256GB-Mobile-Phone-1fbd5a-210x210.jpg" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="" srcset="https://product-mirzacode.ir/newkala/preview/wp-content/uploads/2018/03/Apple-iPhone-X-256GB-Mobile-Phone-1fbd5a-210x210.jpg 210w, https://product-mirzacode.ir/newkala/preview/wp-content/uploads/2018/03/Apple-iPhone-X-256GB-Mobile-Phone-1fbd5a-100x100.jpg 100w, https://product-mirzacode.ir/newkala/preview/wp-content/uploads/2018/03/Apple-iPhone-X-256GB-Mobile-Phone-1fbd5a-600x600.jpg 600w, https://product-mirzacode.ir/newkala/preview/wp-content/uploads/2018/03/Apple-iPhone-X-256GB-Mobile-Phone-1fbd5a-180x180.jpg 180w, https://product-mirzacode.ir/newkala/preview/wp-content/uploads/2018/03/Apple-iPhone-X-256GB-Mobile-Phone-1fbd5a-300x300.jpg 300w, https://product-mirzacode.ir/newkala/preview/wp-content/uploads/2018/03/Apple-iPhone-X-256GB-Mobile-Phone-1fbd5a-768x768.jpg 768w, https://product-mirzacode.ir/newkala/preview/wp-content/uploads/2018/03/Apple-iPhone-X-256GB-Mobile-Phone-1fbd5a-1024x1024.jpg 1024w, https://product-mirzacode.ir/newkala/preview/wp-content/uploads/2018/03/Apple-iPhone-X-256GB-Mobile-Phone-1fbd5a-500x500.jpg 500w, https://product-mirzacode.ir/newkala/preview/wp-content/uploads/2018/03/Apple-iPhone-X-256GB-Mobile-Phone-1fbd5a-39x39.jpg 39w, https://product-mirzacode.ir/newkala/preview/wp-content/uploads/2018/03/Apple-iPhone-X-256GB-Mobile-Phone-1fbd5a-18x18.jpg 18w, https://product-mirzacode.ir/newkala/preview/wp-content/uploads/2018/03/Apple-iPhone-X-256GB-Mobile-Phone-1fbd5a-25x25.jpg 25w, https://product-mirzacode.ir/newkala/preview/wp-content/uploads/2018/03/Apple-iPhone-X-256GB-Mobile-Phone-1fbd5a-20x20.jpg 20w, https://product-mirzacode.ir/newkala/preview/wp-content/uploads/2018/03/Apple-iPhone-X-256GB-Mobile-Phone-1fbd5a-30x30.jpg 30w, https://product-mirzacode.ir/newkala/preview/wp-content/uploads/2018/03/Apple-iPhone-X-256GB-Mobile-Phone-1fbd5a-40x40.jpg 40w, https://product-mirzacode.ir/newkala/preview/wp-content/uploads/2018/03/Apple-iPhone-X-256GB-Mobile-Phone-1fbd5a-170x170.jpg 170w, https://product-mirzacode.ir/newkala/preview/wp-content/uploads/2018/03/Apple-iPhone-X-256GB-Mobile-Phone-1fbd5a-150x150.jpg 150w, https://product-mirzacode.ir/newkala/preview/wp-content/uploads/2018/03/Apple-iPhone-X-256GB-Mobile-Phone-1fbd5a.jpg 1280w" sizes="(max-width: 210px) 100vw, 210px"/>
                                    <p>گوشي موبايل اپل مدل iPhone X</p>
                                </a>
                                <a href="https://product-mirzacode.ir/newkala/preview/product/%da%af%d9%88%d8%b4%d9%8a-%d9%85%d9%88%d8%a8%d8%a7%d9%8a%d9%84-%d8%a7%d9%be%d9%84-%d9%85%d8%af%d9%84-iphone-x-2/">
                                    <span>مشاهده محصول</span>
                                </a>
                            </li>
                            <li>
                                <a href="https://product-mirzacode.ir/newkala/preview/product/%d9%87%d9%88%d8%af%db%8c-%d9%85%d8%b1%d8%af%d8%a7%d9%86%d9%87-%d8%b7%d8%b1%d8%ad-%d9%85%d8%a7%d8%b1%d8%b4%d9%85%d9%84%d9%88-%da%a9%d8%af-f292/">
                                    <img width="210" height="210" src="https://product-mirzacode.ir/newkala/preview/wp-content/uploads/2020/11/119144821-210x210.jpg" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="" srcset="https://product-mirzacode.ir/newkala/preview/wp-content/uploads/2020/11/119144821-210x210.jpg 210w, https://product-mirzacode.ir/newkala/preview/wp-content/uploads/2020/11/119144821-300x300.jpg 300w, https://product-mirzacode.ir/newkala/preview/wp-content/uploads/2020/11/119144821-1024x1024.jpg 1024w, https://product-mirzacode.ir/newkala/preview/wp-content/uploads/2020/11/119144821-180x180.jpg 180w, https://product-mirzacode.ir/newkala/preview/wp-content/uploads/2020/11/119144821-768x768.jpg 768w, https://product-mirzacode.ir/newkala/preview/wp-content/uploads/2020/11/119144821-20x20.jpg 20w, https://product-mirzacode.ir/newkala/preview/wp-content/uploads/2020/11/119144821-30x30.jpg 30w, https://product-mirzacode.ir/newkala/preview/wp-content/uploads/2020/11/119144821-40x40.jpg 40w, https://product-mirzacode.ir/newkala/preview/wp-content/uploads/2020/11/119144821-600x600.jpg 600w, https://product-mirzacode.ir/newkala/preview/wp-content/uploads/2020/11/119144821-100x100.jpg 100w, https://product-mirzacode.ir/newkala/preview/wp-content/uploads/2020/11/119144821.jpg 1280w" sizes="(max-width: 210px) 100vw, 210px"/>
                                    <p>هودی مردانه طرح مارشملو کد F292</p>
                                </a>
                                <a href="https://product-mirzacode.ir/newkala/preview/product/%d9%87%d9%88%d8%af%db%8c-%d9%85%d8%b1%d8%af%d8%a7%d9%86%d9%87-%d8%b7%d8%b1%d8%ad-%d9%85%d8%a7%d8%b1%d8%b4%d9%85%d9%84%d9%88-%da%a9%d8%af-f292/">
                                    <span>مشاهده محصول</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>