@using Application.Services.BackEnd.Admin.BlogsCategories.Queries.GetEditBlogsCategories
@model Application.Services.BackEnd.Admin.BlogsCategories.BlogCategoryDto
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = " بلاگ جدید ";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section Head{
    <link rel="stylesheet" type="text/css" href="~/BackEnd/Admin/vendors/css/vendors-rtl.min.css">
    <link rel="stylesheet" type="text/css" href="~/BackEnd/Admin/vendors/css/forms/select/select2.min.css">
    <link rel="stylesheet" type="text/css" href="~/BackEnd/Admin/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/BackEnd/Admin/css/bootstrap-extended.min.css">
    <link rel="stylesheet" type="text/css" href="~/BackEnd/Admin/css/colors.min.css">
    <link rel="stylesheet" type="text/css" href="~/BackEnd/Admin/css/components.min.css">
    <link rel="stylesheet" type="text/css" href="~/BackEnd/Admin/css/themes/dark-layout.min.css">
    <link rel="stylesheet" type="text/css" href="~/BackEnd/Admin/css/themes/semi-dark-layout.min.css">
    <link rel="stylesheet" type="text/css" href="~/BackEnd/Admin/css/custom-rtl.min.css">
    <link rel="stylesheet" type="text/css" href="~/BackEnd/Admin/css/core/menu/menu-types/vertical-menu-karaji.min.css">
    <link rel="stylesheet" type="text/css" href="~/BackEnd/Admin/css/style.css">
}

@section Foo{
    <script src="~/BackEnd/Admin/vendors/js/vendors.min.js"></script>
    <script src="~/BackEnd/Admin/vendors/js/forms/select/select2.full.min.js"></script>
    <script src="~/BackEnd/Admin/vendors/js/extensions/jquery.steps.min.js"></script>
    <script src="~/BackEnd/Admin/vendors/js/forms/validation/jquery.validate.min.js"></script>
    <script src="~/BackEnd/Admin/js/scripts/configs/vertical-menu-dark.min.js"></script>
    <script src="~/BackEnd/Admin/js/core/app-menu.min.js"></script>
    <script src="~/BackEnd/Admin/js/core/app.min.js"></script>
    <script src="~/BackEnd/Admin/js/scripts/components.min.js"></script>
    <script src="~/BackEnd/Admin/js/scripts/footer.min.js"></script>
    <script src="~/BackEnd/Admin/js/scripts/customizer.min.js"></script>
    <script src="~/BackEnd/Admin/js/scripts/forms/select/form-select2.min.js"></script>
}


<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">
        <div class="content-header row"></div>
        <div class="content-body">
            <!-- app invoice View Page -->

            <form asp-area="Admin" asp-controller="BlogsCategories" asp-action="Create">
                <section class="invoice-edit-wrapper">

                    <div class="row">
                        <!-- invoice view page -->
                        <div class="col-xl-12 col-md-12 col-12">
                            <div class="card">
                                <div class="card-content">
                                    <div class="card-body pb-0 mx-25">

                                        <!-- header section -->
                                        <div class="row my-2 py-50">
                                            <div class="col-sm-6 col-12 order-2 order-sm-1">
                                                <h6 asp-for="Name" class="text-primary">عنوان دسته بندی بلاگ: <b class="text-danger h3">*</b></h6>
                                                <input asp-for="Name" type="text" class="form-control" placeholder="عنوان را وارد کنید">
                                                <span asp-validation-for="Name" class="text-danger"></span>
                                            </div>
                                        
                                            <div class="col-sm-6 col-12 order-2 order-sm-1">
                                                <h6 asp-for="Slug" class="text-primary">عنوان دسته بندی بلاگ انگلیسی: <b class="text-danger h3">*</b></h6>
                                                <input asp-for="Slug" type="text" class="form-control" placeholder="عنوان انگلیسی را وارد کنید">
                                                <span asp-validation-for="Slug" class="text-danger"></span>
                                            </div>
                                        </div>
                                        
                                        <div class="row my-2 py-50">
                                            <div class="col-sm-6 col-12 order-2 order-sm-1">
                                                <h6 asp-for="Color" class="text-primary">رنگ دسته بندی بلاگ: <b class="text-danger h3">*</b></h6>
                                                <input asp-for="Color" type="color" class="form-control">
                                                <span asp-validation-for="Color" class="text-danger"></span>
                                            </div>
                                                                                
                                            <div class="col-sm-6 col-12 order-2 order-sm-1">
                                                <h6 asp-for="FaIcon" class="text-primary">آیکن دسته بندی بلاگ: <b class="text-danger h3">*</b></h6>
                                                <input asp-for="FaIcon" type="text" class="form-control">
                                                <span asp-validation-for="FaIcon" class="text-danger"></span>
                                            </div>
                                        </div>
                                        
                                        
                                        <div class="row my-2 py-50">
                                            <div class="col-sm-12 col-12 order-2 order-sm-1">
                                                <h6 asp-for="SmallDescription" class="text-primary">توضیحات دسته بندی بلاگ: <b class="text-danger h3">*</b></h6>
                                                <input asp-for="SmallDescription" type="text" class="form-control" height="300px">
                                                <span asp-validation-for="SmallDescription" class="text-danger"></span>
                                            </div>
                                        </div>
                                        
                                        <div class="row my-2 py-50">
                                            <div class="col-sm-12 col-12 order-2 order-sm-1">
                                                <h6 asp-for="SmallDescription" class="text-primary">لینک عکس دسته بندی بلاگ:<b class="text-danger h3">*</b></h6>
                                                <input asp-for="ImageUrl" type="text" class="form-control" placeholder="" height="300px">
                                                <span asp-validation-for="ImageUrl" class="text-danger"></span>
                                            </div>
                                        </div>
                                        
                                        
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                </section>
                <button class="btn btn-primary btn-block subtotal-preview-btn">ثبت</button>
            </form>
        </div>
    </div>
</div>