@{
    ViewData["Title"] = "Page Not Access";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-404">
    <h1 class="title-404">شما مجوز دسترسی به این صفحه را ندارید!</h1>
    <a href="/" class="action-404">صفحه اصلی</a>
    <img src="/Images/Settings/Error403.png" class="images-404">
</div>