@{
    ViewData["Title"] = "Page Not Found";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section BodyAttr{
    data-rsssl="1" class="rtl error404 theme-newkala woocommerce-js nk_desktop nk_my_account_page loggedout elementor-default elementor-kit-3073 dokan-theme-newkala" style="overflow: auto;" data-elementor-device-mode="desktop"
    }

<div class="clear"></div>
<div class="nk_container_404 product-content-onliner">
    <div class="c-404__title">
        @if (Convert.ToBoolean(ViewBag.ErrorMessage404)==true)
        {
            <h1 style="text-align: center;">صفحه‌ای که دنبال آن بودید پیدا نشد!</h1>
            <p>
                <img class="aligncenter wp-image-2613 size-full"
                     src="/Images/Settings/Error404.png"
                     alt="404 Error"
                     srcset="/Images/Settings/Error404.png 918w,/Images/Settings/Error404.png  600w" sizes="(max-width: 918px) 100vw, 918px" width="918" height="454">
            </p>
        } else if (Convert.ToBoolean(ViewBag.ErrorMessage500)==true)
        {
            <h1 style="text-align: center;">مشکلی در اتصال به سرور ایجاد شده است. لطفا دقایقی بعد تلاش کنید!</h1>
            <p>
                <img class="aligncenter wp-image-2613 size-full"
                     src="/Images/Settings/Error500.png"
                     alt="404 Error"
                     srcset="/Images/Settings/Error404.png 918w,/Images/Settings/Error404.png  600w" sizes="(max-width: 918px) 100vw, 918px" width="918" height="454">
            </p> 
        }

    </div>
    <div class="c-404__actions"></div>
</div>