@font-face {
    font-family: 'Yekan';
    src: url(../fonts/Yekan.ttf);
    font-weight: 400;
    font-style: normal
}

html {
    font-family: Yekan !important;
}

.popover, .tooltip, body {
    font-family: Yekan !important
}

code, kbd, pre, samp {
    font-family: Yekan !important;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: Yekan !important;
}

.text-monospace {
    font-family: Yekan !important
}

.table td, .table th {
    font-family: Yekan !important
}

.card .card-footer, .header-navbar {
    font-family: Yekan !important
}
.accordion .card .card-header, .badge, .collapsible .card .card-header, .modal .modal-content .modal-header .modal-title {
    font-family: Yekan !important
}
.table td, .table th {
    font-family: Yekan !important
}


.navigation {
    font-family: Yekan !important;
}

tdDisplay {
    display: inherit
}

tdDisplay a {
    margin-left: 2px
}
.margin-left-menu-icon{
    margin-left:10px
}

/*.my_form{
    display:inline-flex
}

.parsa-form-label-group{
    margin-bottom:0px !important
}

.parsa-form-a{
    margin-top:9px
}*/



.ps {
    overflow: hidden !important;
    overflow-anchor: none;
    -ms-overflow-style: none;
    touch-action: auto;
    -ms-touch-action: auto
}