@using Application.Services.FrontEnd.Products.Queries
@model ResultGetProductsCategoryFrontEndDto
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "بلاگ اکوفولاد";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section BodyAttr{
    data-rsssl="1" class="rtl archive search search-results post-type-archive post-type-archive-product theme-newkala woocommerce woocommerce-page woocommerce-js nk_desktop nk_my_account_page loggedout elementor-default elementor-kit-3073 dokan-theme-newkala" data-elementor-device-mode="desktop"   
    }
<style>
    body.archive .content-area#primary ul.products li {
        -ms-flex: 1 0 25%;
        flex: 0 100%!important;
        max-width: 100%!important;
        position: relative;
    }
</style>


<div class="container main_content_taxonomy_archive ">


<div id="primary" class="content-area">
<main id="main" class="site-main" role="main">
<div class="responsive_button_orderby_and_filter_product">
    <span class="button_display_filter_product">جستجوی پیشرفته</span>
    <span class="button_display_order_by">مرتب‌سازی بر اساس محبوبیت</span>
</div>
<ul class="woocommerce-breadcrumb">
    <li>
        <a href="https://newkalatheme.ir/preview">نیوکالا</a>
    </li><span>/</span><li>لباس</li>
</ul>
<h1 style="overflow:hidden;height:0px;" class="woocommerce-products-header__title page-title">لباس</h1>

<div class="woocommerce-notices-wrapper"></div>
<p class="woocommerce-result-count">
    نمایش 1–8 از 9 نتیجه
</p>


<div class="main_custom_order_by_sort">

    <form class="woocommerce-ordering" method="get" style="display:none">
        <select name="orderby" class="orderby" aria-label="سفارش خرید">
            <option value="menu_order" selected="selected">مرتب‌سازی پیش‌فرض</option>
            <option value="popularity">مرتب‌سازی بر اساس محبوبیت</option>
            <option value="rating">مرتب‌سازی بر اساس امتیاز</option>
            <option value="date">مرتب‌سازی بر اساس آخرین</option>
            <option value="price">مرتب‌سازی بر اساس ارزانترین</option>
            <option value="price-desc">مرتب‌سازی بر اساس گرانترین</option>
            <option value="featured">محصولات ویژه</option>
            <option value="incredible_offer">شگفت انگیزها</option>
        </select>
        <input type="hidden" name="paged" value="1">
    </form>
    <span class="title_order_by">مرتب سازی بر اساس: </span>
    <span style="display:none"> selected='selected'</span> <strong sortby="menu_order" href="" class="custom_order_by_sort selected" rel="nofollow"><span></span> پیش‌فرض</strong>
    <span style="display:none"></span> <strong sortby="popularity" href="" class="custom_order_by_sort " rel="nofollow"><span></span> محبوبیت</strong>
    <span style="display:none"></span> <strong sortby="rating" href="" class="custom_order_by_sort " rel="nofollow"><span></span> امتیاز</strong>
    <span style="display:none"></span> <strong sortby="date" href="" class="custom_order_by_sort " rel="nofollow"><span></span> آخرین</strong>
    <span style="display:none"></span> <strong sortby="price" href="" class="custom_order_by_sort " rel="nofollow"><span></span> ارزانترین</strong>
    <span style="display:none"></span> <strong sortby="price-desc" href="" class="custom_order_by_sort " rel="nofollow"><span></span> گرانترین</strong>
    <span style="display:none"></span> <strong sortby="featured" href="" class="custom_order_by_sort " rel="nofollow"><span></span>محصولات ویژه</strong>
    <span style="display:none"></span> <strong sortby="incredible_offer" href="" class="custom_order_by_sort " rel="nofollow"><span></span>شگفت انگیزها</strong>


    <script>

			jQuery('.custom_order_by_sort').on('click', function(){
				
				var data_sort = jQuery(this).attr('sortby');
						
				jQuery('.orderby').val(data_sort);
						
				jQuery('.woocommerce-ordering').submit();
			});

		</script>


    <span type_view="listing" class="type_view type_view_listing "></span>
    <span type_view="grid" class="type_view type_view_grid active"></span>
</div>

<div class="opacity_black_cover_for_order_by_product" style=""></div>

    <ul class="products  columns-4">
        @foreach (var item in Model.Products)
        {
            <li class="swiper-slide not_in_offer_tax not_in_offer_slider product type-product post-3807 status-publish first instock product_cat-cloth product_tag-234 product_tag-236 has-post-thumbnail taxable shipping-taxable purchasable product-type-simple" data-id="3807">

            <div class="before_content_product_catalog">
                <a asp-controller="Products"
                   asp-action="Details"
                   asp-route-category="@item.UrlName"
                   asp-route-name="@item.PrdName.Replace(" ", "-")"
                   class="woocommerce-LoopProduct-link woocommerce-loop-product__link">
                    
                    <div class="archive_outofstock_wrapper">
                        <div class="archive_outofstock_text">ناموجود</div>
                    </div>

                    <div class="archive_outofstock_wrapper archive_sale_expired">
                        <div class="archive_outofstock_text">پایان زمان سفارش</div>
                    </div>

                    <div class="product_is_in_special_offer">
                        <img src="/Images/Menus/2.jpg">
                    </div>


                    <div class="acl_wrapper acl_inc_offer">
                        <div class="acl_text">شگفت‌انگیز</div>
                    </div>

                    <div class="acl_wrapper acl_outofstock_offer">
                        <div class="acl_text">پایان موجودی شگفت انگیز</div>
                    </div>

                    <div class="acl_wrapper acl_outofstock">
                        <div class="acl_text">ناموجود</div>
                    </div>

                    <div class="acl_wrapper acl_sale_expired">
                        <div class="acl_text">پایان زمان سفارش</div>
                    </div>

                    <div class="acl_wrapper acl_commingsoon" style="">
                        <div class="acl_text">شروع سفارش به زودی</div>
                    </div>
                    
                    <img src="/Images/Menus/1.jpg"
                         class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" 
                         alt="@item.PrdName"
                         srcset="/Images/Menus/1.jpg 210w,  300w,  1024w, 180w, 768w, 20w, 30w, 40w,  600w, 100w, 1280w" sizes="(max-width: 210px) 100vw, 210px" width="210" height="210">
                    <h2 class="woocommerce-loop-product__title">ست تی شرت و شلوار ورزشی مردانه مدل اث میلان</h2>
                </a>
                <div class="main_custom_rating_loop_woocommerce">
                    <a title="رفتن به فروشگاه  سون ست" class="icon_seller_to_catalog_products" target="_blank" href="https://newkalatheme.ir/preview/store/svenset/">
                        <em>فروشنده:</em> <strong>سون ست</strong>
                    </a>
                    <div class="product_custom_actions_items"></div>
                </div>
                <div class="main_custom_attributes">
                    <div class="title_custom_attributes">ویژگی ها</div>
                    <ul>
                        <li>
                            جنس: نخ (کتان)
                        </li>
                        <li>
                            طرح پارچه: ساده
                        </li>
                        <li>
                            فرم لباس: معمولی
                        </li><li>کلاه: بدون کلاه</li>
                    </ul>
                </div>
                <form asp-controller="Basket" asp-action="Index" method="post">
                    <div class="newkala_container_custom_price">
                       <span class="price" lang="fa">
                           <span class="woocommerce-Price-amount amount">
                               <bdi>235,000&nbsp;<span class="woocommerce-Price-currencySymbol">تومان</span></bdi>
                           </span>
                       </span>
                       @* <a href="~/cart/addToCart?ProductId=@item.ProductId" *@
                       @*    data-quantity="1"  *@
                       @*    class="button product_type_simple add_to_cart_button ajax_add_to_cart newkala_add_to_cart_button_loop select_quantity_on"  *@
                       @*    data-product_id="3807"  *@
                       @*    data-product_sku="#12360"  *@
                       @*    aria-label="" *@
                       @*    rel="nofollow"  *@
                       @*    title="افزودن به سبد خرید">+</a> *@
                       <input type="hidden" name="productId" value="@item.ProductId">
                       <input type="text" name="quantity" value="1">
                       <button type="submit">
                           اضافه به سبد خرید
                       </button>
   
                       @* <button class="newkala_add_to_cart_button_loop" type="button">+</button> *@
                       @* <select class="select_quantity"> *@
                       @*     <option selected="">تعداد</option><option value="1">1 عدد</option><option value="2">2 عدد</option><option value="3">3 عدد</option><option value="4">4 عدد</option><option value="5">5 عدد</option><option value="6">6 عدد</option><option value="7">7 عدد</option><option value="8">8 عدد</option><option value="9">9 عدد</option><option value="10">10 عدد</option> *@
                       @* </select> *@
                   </div>
                </form>
            </div>
        </li>
        }
    </ul>
    <partial name="_Pagination"/>
</main>
</div>
<div class="main_sidebar sidebar_archive_product">

    <div class="responsive_title_filters">
        <strong>لباس</strong><span></span>
    </div>

    <div class="newkala_widget_display_instock">

        <div class="cover_instock_display_product"></div>

        <label>
            فقط کالاهای موجود <input class="newkala_checkbox_display_instock" type="checkbox" name="display_instock" value="1">
            <span class="checkmark"></span>
        </label>
        <span class="result_ajax_instock"></span>
    </div>

    <script>
		
		var display_instock = 0;
		
			jQuery('.newkala_checkbox_display_instock').on('click', function(){
				
				jQuery('.cover_instock_display_product').show(0);
				
				if ( jQuery('.newkala_checkbox_display_instock').is(':checked') ) display_instock = 1 ; else display_instock = 0;
				
					var d = new Date();
					d.setTime(d.getTime() + (1*24*60*60*1000));
					var expires = "expires="+ d.toUTCString();
					document.cookie = "display_instock=" + display_instock + ";" + expires + ";path=/";					
					
					location.reload();
					
					/*
					jQuery.post( ajax_url ,
					{
						action: "set_status_display_instock",
						status_display_instock : display_instock,
					},
					function(data, status){
						jQuery('.result_ajax_instock').html(data);
					});	
*/
					
				
				
			});
		
		</script>
</div>


</div>

<div class="clear"></div>