@model EndPoint.WebSite.Areas.Auth.Data.Dto.ConfirmDto
@using Application.Services.FrontEnd.Common
@inject ISiteSetting _siteSetting;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "احراز هویت کاربر";
    Layout = "~/Areas/Auth/Views/Shared/_Layout.cshtml";
}

@section Foo{
     <script src="~/assets/js/Auth.js"></script>
}


<div id="main">
    <div class="col-lg-4 col-md-6 col-xs-12 mx-auto">
        <div class="account-box">
            <a href="/" class="logo-account">
                <img src="@_siteSetting.GetSiteSetting().LogoImage">
            </a>
               @if (TempData["ErrorVerifyPhoneNumber"] != null)
                {
                    <ul class="auth-error alertSlideUp">
                        <li>
                        <strong>خطا:</strong>

                        @TempData["ErrorVerifyPhoneNumber"]
                    </ul>
                }
          
               <span class="account-head-line">کد تایید را وارد نمایید</span>
               
               <form asp-controller="Auth" asp-action="Confirm" method="post">

                   <div class="content-account">
                        <label>
                           برای ساخت حساب جدید برای @TempData["PhoneNumber"] ، کد تایید برای این شماره ارسال گردید.
                       </label>
                       <input asp-for="Code" type="password" class="input-email-account Password" placeholder="">
                       <div class="clear"></div>
                       <span asp-validation-for="Code" class="text-danger"></span>

                       <div class="parent-btn">
                           <button class="dk-btn dk-btn-info">
                               تایید
                               <i class="fa fa-sign-in sign-in"></i>
                           </button>
                       </div>
                       @* <div class="form-auth-row"> *@
                       @*     <label for="#" class="ui-checkbox"> *@
                       @*         <input type="checkbox" value="1" name="login" checked="" id="remember"> *@
                       @*         <span class="ui-checkbox-check"></span> *@
                       @*     </label> *@
                       @*     <label for="remember" class="remember-me">مرا به خاطر داشته باش</label> *@
                       @* </div> *@
                   </div>
                  <input type="hidden" asp-for="PhoneNumber">
               </form>
                <form asp-controller="Auth" asp-action="AgainSmsSend" method="post">
                    <div class="account-footer">
                        <button type="submit" id="againsendSms" disabled class="btn-link-register forgotPass">
                            کد تایید دریافت نشد؟
                            <a class="btn-link-register">
                                بازیابی رمز عبور
                            </a>
                        </button>
                    </div>
                    <input  asp-for="PhoneNumber" type="hidden"/>
                </form>
        </div>
    </div>
</div>