@model EndPoint.WebSite.Areas.Auth.Data.Dto.ConfirmDto
@using Application.Services.FrontEnd.Common
@inject ISiteSetting _siteSetting;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "احراز هویت کاربر";
    Layout = "~/Areas/Auth/Views/Shared/_Layout.cshtml";
}


 <div id="main">
        <div class="col-lg-4 col-md-6 col-xs-12 mx-auto">
            <div class="account-box">
                <a href="/" class="logo-account">
                    <img src="@_siteSetting.GetSiteSetting().LogoImage" alt="logo">
                </a>
                <span class="account-head-line">به @_siteSetting.GetSiteSetting().SiteName خوش آمدید</span>
                <div class="content-account">
                    <div class="account-box-message">
                        <div class="user-account-welcome">
                            <span class="mdi mdi-account-outline user-welcome"></span>
                        </div>
                        <div class="made-account">
                            <h2>حساب کاربری شما در @_siteSetting.GetSiteSetting().SiteName ساخته شد</h2>
                            <p>
                                اکنون میتوانید با فشردن دکمه زیر در سایت وارد شوید و از امکانات پنل مدیریتی خود استفاده نمایید
                            </p>
                        </div>
                    </div>
                    <ul>
                        <li>
                            <div class="parent-btn">
                                <a asp-controller="Auth" asp-action="CheckOut">
                                    <button class="dk-btn dk-btn-info">
                                        ورود به حساب کاربری
                                        <i class="fa fa-user sign-in"></i>
                                    </button>
                                </a>
                            </div>
                        </li>
                        @* <li> *@
                        @*     <a href="#" class="back-page-before">بازگشت به صفحه‌ای که در آن بودید</a> *@
                        @* </li> *@
                    </ul>
                </div>
            </div>
        </div>
    </div>