@* @using   Application.Services.BackEnd.Admin.Company.Queries *@
@* @model ResultGetCreateCompanyDto *@
@* @addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers *@
@* @{ *@
@*     ViewData["Title"] = " مجله جدید "; *@
@*     Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml"; *@
@* } *@
@* *@
@* @section Head{ *@
@*     <link rel="stylesheet" type="text/css" href="~/BackEnd/Admin/vendors/css/vendors-rtl.min.css"> *@
@*     <link rel="stylesheet" type="text/css" href="~/BackEnd/Admin/vendors/css/forms/select/select2.min.css"> *@
@*     <link rel="stylesheet" type="text/css" href="~/BackEnd/Admin/css/bootstrap.min.css"> *@
@*     <link rel="stylesheet" type="text/css" href="~/BackEnd/Admin/css/bootstrap-extended.min.css"> *@
@*     <link rel="stylesheet" type="text/css" href="~/BackEnd/Admin/css/colors.min.css"> *@
@*     <link rel="stylesheet" type="text/css" href="~/BackEnd/Admin/css/components.min.css"> *@
@*     <link rel="stylesheet" type="text/css" href="~/BackEnd/Admin/css/themes/dark-layout.min.css"> *@
@*     <link rel="stylesheet" type="text/css" href="~/BackEnd/Admin/css/themes/semi-dark-layout.min.css"> *@
@*     <link rel="stylesheet" type="text/css" href="~/BackEnd/Admin/css/custom-rtl.min.css"> *@
@*     <link rel="stylesheet" type="text/css" href="~/BackEnd/Admin/css/core/menu/menu-types/vertical-menu-karaji.min.css"> *@
@*     <link rel="stylesheet" type="text/css" href="~/BackEnd/Admin/css/style.css"> *@
@* } *@
@* *@
@* @section Foo{ *@
@*     <script src="~/BackEnd/Admin/vendors/js/vendors.min.js"></script> *@
@*     <script src="~/BackEnd/Admin/vendors/js/forms/select/select2.full.min.js"></script> *@
@*     <script src="~/BackEnd/Admin/vendors/js/extensions/jquery.steps.min.js"></script> *@
@*     <script src="~/BackEnd/Admin/vendors/js/forms/validation/jquery.validate.min.js"></script> *@
@*     <script src="~/BackEnd/Admin/js/scripts/configs/vertical-menu-dark.min.js"></script> *@
@*     <script src="~/BackEnd/Admin/js/core/app-menu.min.js"></script> *@
@*     <script src="~/BackEnd/Admin/js/core/app.min.js"></script> *@
@*     <script src="~/BackEnd/Admin/js/scripts/components.min.js"></script> *@
@*     <script src="~/BackEnd/Admin/js/scripts/footer.min.js"></script> *@
@*     <script src="~/BackEnd/Admin/js/scripts/customizer.min.js"></script> *@
@*     <script src="~/BackEnd/Admin/js/scripts/forms/select/form-select2.min.js"></script> *@
@*     <script>$('div.alert').delay(3000).slideUp(300); </script> *@
@*     <partial name="_CkEditorScriptsPartial"/> *@
@* } *@
@*      *@
@* <div class="app-content content"> *@
@*     <div class="content-overlay"></div> *@
@*     <div class="content-wrapper"> *@
@*         <div class="content-header row"></div> *@
@*         <div class="content-body"> *@
@*             <!-- app invoice View Page --> *@
@* *@
@*             <form asp-area="Admin" asp-controller="Blogs" asp-action="Create" enctype="multipart/form-data" method="post"> *@
@*                 <section class="invoice-edit-wrapper"> *@
@* *@
@*                     <div class="row"> *@
@*                         <!-- invoice view page --> *@
@*                         <div class="col-xl-12 col-md-12 col-12"> *@
@*                             <div class="card"> *@
@*                                 <div class="card-content"> *@
@*                                     <div class="card-body pb-0 mx-25"> *@
@* *@
@*                                         <!-- header section --> *@
@*                                         <div class="row my-2 py-50"> *@
@*                                             <div class="col-sm-4 col-12 order-2 order-sm-1"> *@
@*                                                 <h6 asp-for="Title" class="text-primary">عنوان مجله: <b class="text-danger h3">*</b></h6> *@
@*                                                 <input asp-for="Title" type="text" class="form-control" placeholder="عنوان را وارد کنید"> *@
@*                                                 <span asp-validation-for="Title" class="text-danger"></span> *@
@* *@
@*                                             </div> *@
@* *@
@*                                             <div class="col-md-4 col-12 order-2 order-sm-1"> *@
@*                                                 <h6 class="text-primary"> دسته بندی مجله:<b class="text-danger h3">*</b></h6> *@
@*                                                 <div class="form-group"> *@
@*                                                     <select class="select2 form-control" asp-for="NewsGroupId"> *@
@*                                                         <option value="">انتخاب کنید</option> *@
@*                                                         @foreach (var item in Model.BlogsGroup) *@
@*                                                         { *@
@*                                                             <option value="@item.NewsGroupId">@item.GroupName </option> *@
@*                                                         } *@
@*                                                     </select> *@
@*                                                     <span asp-validation-for="NewsGroupId" class="text-danger"></span> *@
@*                                                 </div> *@
@*                                             </div> *@
@* *@
@* *@
@*                                             <div class="col-md-4 col-12"> *@
@*                                                 <div class="card"> *@
@*                                                     <h6 class="text-primary"> عکس مجله:<b class="text-danger h3">*</b></h6> *@
@*                                                     <div class="col-md-12 mb-1"> *@
@*                                                         <fieldset> *@
@*                                                             <div class="input-group"> *@
@*                                                                 $1$ <div class="input-group-prepend"> #1# *@
@*                                                                 $1$     <span class="input-group-text" id="inputGroupFileAddon01">Upload</span> #1# *@
@*                                                                 $1$ </div> #1# *@
@*                                                                 <div class="custom-file"> *@
@*                                                                     <input asp-for="Images" type="file" multiple class="custom-file-input" aria-describedby="inputGroupFileAddon01"> *@
@*                                                                     <label asp-for="Images" class="custom-file-label"> انتخاب فایل</label> *@
@*                                                                     <span asp-validation-for="Images" class="text-danger"></span> *@
@*                                                                 </div> *@
@*                                                             </div> *@
@*                                                         </fieldset> *@
@*                                                     </div> *@
@*                                                 </div> *@
@*                                             </div> *@
@* *@
@*                                             <div class="col-sm-8 col-8 order-2 order-sm-1"> *@
@*                                                 <h6 asp-for="NewsSummery" class="text-primary">توضیح کوتاه مجله: <b class="text-danger h3">*</b></h6> *@
@*                                                 <input asp-for="NewsSummery" type="text" class="form-control" placeholder="عنوان را وارد کنید"> *@
@*                                                 <span asp-validation-for="NewsSummery" class="text-danger"></span> *@
@*                                             </div> *@
@*                                             <div class="col-md-4 col-4 order-2 order-sm-1"> *@
@*                                                 <h6 class="text-primary"> موقعیت مجله:<b class="text-danger h3"></b></h6> *@
@*                                                 <div class="form-group"> *@
@*                                                     <select class="select2 form-control" asp-for="Position"> *@
@*                                                         <option value="0">انتخاب کنید</option> *@
@*                                                          *@
@*                                                         @if (Model.Blogs.FirstOrDefault(b => b.Position==1) != null) *@
@*                                                         { *@
@*                                                             <option disabled>(1) قبلا ایجاد شده</option> *@
@*                                                         } *@
@*                                                         else if(Model.Blogs.FirstOrDefault(b => b.Position==1) == null) *@
@*                                                         { *@
@*                                                             <option value="1">1 </option> *@
@*                                                         } *@
@*                                                          *@
@*                                                          *@
@*                                                                *@
@*                                                         @if (Model.Blogs.FirstOrDefault(b => b.Position==2) != null) *@
@*                                                         { *@
@*                                                             <option disabled>(2) قبلا ایجاد شده</option> *@
@*                                                         } *@
@*                                                         else if(Model.Blogs.FirstOrDefault(b => b.Position==2) == null) *@
@*                                                         { *@
@*                                                             <option value="2">2 </option> *@
@*                                                         } *@
@*                                                          *@
@*                                                          *@
@*                                                                *@
@*                                                         @if (Model.Blogs.FirstOrDefault(b => b.Position==3) != null) *@
@*                                                         { *@
@*                                                             <option disabled>(3) قبلا ایجاد شده</option> *@
@*                                                         } *@
@*                                                         else if(Model.Blogs.FirstOrDefault(b => b.Position==3) == null) *@
@*                                                         { *@
@*                                                             <option value="3">3 </option> *@
@*                                                         } *@
@*                                                          *@
@*                                                          *@
@*                                                                *@
@*                                                         @if (Model.Blogs.FirstOrDefault(b => b.Position==4) != null) *@
@*                                                         { *@
@*                                                             <option disabled>(4) قبلا ایجاد شده</option> *@
@*                                                         } *@
@*                                                         else if(Model.Blogs.FirstOrDefault(b => b.Position==4) == null) *@
@*                                                         { *@
@*                                                             <option value="4">4 </option> *@
@*                                                         } *@
@*                                                          *@
@*                                                          *@
@*                                                                *@
@*                                                         @if (Model.Blogs.FirstOrDefault(b => b.Position==5) != null) *@
@*                                                         { *@
@*                                                             <option disabled>(5) قبلا ایجاد شده</option> *@
@*                                                         } *@
@*                                                         else if(Model.Blogs.FirstOrDefault(b => b.Position==5) == null) *@
@*                                                         { *@
@*                                                             <option value="5">5 </option> *@
@*                                                         } *@
@*                                                          *@
@*                                                          *@
@*                                                                *@
@*                                                         @if (Model.Blogs.FirstOrDefault(b => b.Position==6) != null) *@
@*                                                         { *@
@*                                                             <option disabled>(6) قبلا ایجاد شده</option> *@
@*                                                         } *@
@*                                                         else if(Model.Blogs.FirstOrDefault(b => b.Position==6) == null) *@
@*                                                         { *@
@*                                                             <option value="6">6 </option> *@
@*                                                         } *@
@*                                                          *@
@*                                                          *@
@*                                                                *@
@*                                                         @if (Model.Blogs.FirstOrDefault(b => b.Position==7) != null) *@
@*                                                         { *@
@*                                                             <option disabled>(7) قبلا ایجاد شده</option> *@
@*                                                         } *@
@*                                                         else if(Model.Blogs.FirstOrDefault(b => b.Position==7) == null) *@
@*                                                         { *@
@*                                                             <option value="7">7 </option> *@
@*                                                         } *@
@*                                                          *@
@*                                                          *@
@*                                                                *@
@*                                                         @if (Model.Blogs.FirstOrDefault(b => b.Position==8) != null) *@
@*                                                         { *@
@*                                                             <option disabled>(8) قبلا ایجاد شده</option> *@
@*                                                         } *@
@*                                                         else if(Model.Blogs.FirstOrDefault(b => b.Position==8) == null) *@
@*                                                         { *@
@*                                                             <option value="8">8 </option> *@
@*                                                         } *@
@*                                                          *@
@*                                                     </select> *@
@*                                                 </div> *@
@*                                             </div> *@
@*                                              *@
@* *@
@* *@
@*                                             $1$ <div class="col-sm-6 col-12 order-1 order-sm-1 d-flex justify-content-end"> #1# *@
@*                                             $1$   <img src="../../../app-assets/images/pages/pixinvent-logo.png" alt="logo" height="46" width="164"> #1# *@
@*                                             $1$ </div> #1# *@
@*                                         </div> *@
@* *@
@*                                         <hr> *@
@* *@
@*                                         <div class="row invoice-info"> *@
@*                                             <div class="col-lg-12 col-md-12 mt-25"> *@
@*                                                 <h6 class="invoice-to text-primary"> متن مجله: <b class="text-danger h3">*</b></h6> *@
@*                                                 <fieldset class="invoice-address form-group"> *@
@*                                                     <textarea asp-for="NewsBody" class="form-control" rows="20" style="margin-top: 0px; margin-bottom: 0px; height: 2000px;"></textarea> *@
@*                                                     <span asp-validation-for="NewsBody" class="text-danger"></span> *@
@*                                                 </fieldset> *@
@*                                             </div> *@
@*                                         </div> *@
@* *@
@* *@
@*                                     </div> *@
@*                                 </div> *@
@*                             </div> *@
@*                         </div> *@
@*                     </div> *@
@*                 </section> *@
@* *@
@* *@
@*                 <button class="btn btn-primary btn-block subtotal-preview-btn">ثبت</button> *@
@*             </form> *@
@*         </div> *@
@*     </div> *@
@* </div> *@