/* ///////////////////////////////////////////header//////////////////////////////////////////////////// */
header.nk_wooccommerce_header{
    /* background-image: url("../images/woocommerce_dashboard/header.jpg"); */
    /* background: linear-gradient(0deg, #54cea7 26%, #14919e 100%); */
    top: 0;
    left: 0;
    right: 0;
    height: 351px;
    z-index: 0;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
    position: fixed;
    z-index: -1;
}
.sp_background_head nav{
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
}
.sp_background_head svg{
    fill: #fff;
    margin: 18px 23px 0;
}
.sp_header_menu{
    display: flex;
    padding-top: 20px;
    align-items: center;
}
#menu_bar{
    display: none;
}
.sp_header_Contents{
    display: flex;
    align-items: center;
}
.sp_header_Contents ul{
    display: flex;
    font-size: 14px;
    font-weight: 400;
}
.sp_header_Contents li{
    padding-left: 15px;
}
.sp_header_Contents a{
    color: #fff;
}
.sp_header_Contents i{
    color: #fff;
}
.sp_header_Support{
    display: flex;
}
.sp_phone_support{
    padding: 11px;
    border: 1px dashed;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 300;
    margin-top: 15px;
    display: flex;
    align-items: center;
}
.sp_phone_support .wc_phone_nummber{
    cursor: pointer;
}
.sp_bell{
    margin-top: 25px;
    position: relative;
}
.sp_bell i{
    cursor: pointer;
}
.sp_bell .fa-bell{
    font-size: 25px;
    padding: 0 15px;
}
.unread_announcements_box{
    background-color: #fff;
    padding: 0px 10px;
    position: absolute;
    top: 50px;
    left: 0px;
    min-width: 400px;
    border-radius: 5px;
    box-shadow: 0px 0px 8px -6px #7c8a9c;
    display: none;
}
.unread_announcements_box ul{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.unread_announcements_box:before{
    font-family: 'FontAwesome';
    content: '\f0d8';
    position: absolute;
    left: 20px;
    top: -17px;
    font-size: 25px;
    color: #fff;
}
.unread_announcements_box .no_announcement{
    padding: 15px 10px;
}
/* //////////////////////////////////////////main///////////////////////////////////////////////////////////////// */
.sp_body_panel{
    padding: 11px;
    background-color: #fff;
    border-radius: 8px;
    margin: 93px 40px 0 311px;
    min-height: 100vh;
}
.sp_top_panel{
    padding: 18px 0;
}
.sp_top_panel h1{
    font-size: 1.25rem;
    line-height: 1.4;
    font-weight: bold;
}
.sp_top_panel p{
    margin-top: 10px;
    font-size: 12px;
    color: #888;
    display: flex;
    align-items: center;
}
.sp_top_panel .fa-user{
    margin-left: 5px;
    font-size: 16px;
    color: #000;
    background-color: #b5b5b57a;
    padding: 8px 10px;
    border-radius: 50%;
}
.sp_Possibilities{
    display: flex;
    margin-bottom: 25px;
}
.sp_Information_panel{
    justify-content: space-between;
    display: flex;
    width: 100%;
}
.sp_Information_panel li{
    padding: 40px 16px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    /* margin-right: 12px; */
    width: 22%;
}
.sp_Information_panel li:hover{
    box-shadow: 0 5px 15px rgba(0, 0, 0, .08);
}
.sp_icons_Information_panel i{
    font-size: 35px;
    border-radius: 50%;
    margin: 0px 6px;
}
.sp_paragraph{
    display: flex;
    flex-direction: column;
    font-size: 13px;
}
.sp_paragraph span{
    line-height: 30px;
}
.sp_Payment_gateway{
    margin: 20px 0;
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 8px -6px #7c8a9c;
    border-left: 4px solid #35cd3a;
    border-radius: 3px;
    padding: 10px;
}
.sp_Payment_gateway i{
    font-size: 27px;
    margin-right: 17px;
}
.sp_Ports div.notif_yellow i{
    color: #ffc021;
}
.sp_Ports div.notif_green i{
    color: #35cd3a;
}
.sp_Ports div.notif_red i{
    color: #ff2121;
}
.sp_Payment_gateway p{
    font-size: 12px;
    font-weight: 400;
    color: #888;
    margin: 13px 0;
    line-height: 22px;
    text-overflow: ellipsis;
    overflow: hidden;
}
.sp_Payment_gateway span{
    font-size: 19px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    line-height: 25px;
}
.sp_Ports .no_announcement{
    font-size: 20px;
    text-align: center;
    line-height: 50px;
}
.sp_posts_and_Products{
    display: flex;
    margin-bottom: 40px;
    flex-wrap: wrap;
    justify-content: space-between;
}
.sp_last_posts{
    padding: 1.5rem;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .08);
    width: 45%;
    border-radius: 4px;
    height: fit-content;
    margin-bottom: 45px;
}
.sp_top_last_posts{
    font-size: 14px;
    font-weight: bold;
    margin: 0 11px;
    position: relative;
    margin-bottom: 35px;
}
.sp_top_last_posts::before{
    position: absolute;
    content: " ";
    top: 24px;
    width: 145px;
    height: 3px;
    left: 0;
    background-color: #b1c87b;
}
.sp_top_last_posts::after{
    position: absolute;
    content: " ";
    top: 24px;
    height: 3px;
    background-color: #fff;
    width: 3px;
    left: 130px;
}
.sp_last_posts p{
    color: #888;
    font-size: 12px;
    margin: 0 12px;
    line-height: 22px;
}
.sp_bottom_panel{
    padding-bottom: 55px;
}
.sp_bottom_last_posts{
    padding: 20px 7px;
}
.sp_last_posts>ul{
    padding: 10px 10px;
}
.sp_bottom_last_posts li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
    border-bottom: 1px solid #ccc;
}
.sp_bottom_last_posts li:last-child{
    border-bottom: unset;
}
.sp_posts_and_Products div:nth-child(2) li{
    border-bottom: 1px solid #ccc;
}
.sp_posts_and_Products div:nth-child(2) li:last-child{
    border: unset;
}
.sp_bottom_last_posts img{
    max-width: 32px;
    border-radius: 50%;
    margin-top: 4px;
}
.sp_bottom_last_posts span{
    background: #398bf5;
    font-size: 11px;
    padding: 7px 17px 10px;
    border-radius: 20px;
    color: #fff;
}
.sp_bottom_last_posts a{
    display: flex;
    align-items: center;
}
/* .sp_posts_and_Products .sp_last_posts:nth-child(2){
    margin-left: 40px;
} */
.sp_Personal_Information_panel{
    position: fixed;
    left: 1px;
    top: 148px;
    bottom: 0;
    width: 310px;
    z-index: 1;
    /* background: transparent !important; */
    /* overflow-y: auto; */
}
.sp_Personal_Information_panel .sp_my_account::-webkit-scrollbar {
    background-color:#e8e8e878;
    width:5px;
    border-radius:8px;
}
.sp_Personal_Information_panel .sp_my_account::-webkit-scrollbar-thumb {
    background-color:#cccc;
}
.sp_Personal_Information_panel .sp_my_account::-webkit-scrollbar-thumb:hover {
    background-color:#cccc;
}
.sp_Personal_Information_panel::-o-scrollbar {
    background-color:#e8e8e878;
    width:5px;
}
.sp_Personal_Information_panel::-o-scrollbar-thumb {
    background-color:#cccc;
}
.sp_Personal_Information_panel::-o-scrollbar-thumb:hover {
    background-color:#cccc;
}
.sp_avatar{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sp_avatar .information{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.sp_image_avatar{
    padding-top: 8px;
    margin-left: 20px;
    display: flex;
    justify-content: center;
}
.sp_image_avatar svg{
    position: absolute;
    right: 15px;
    top: 26px;
}
.sp_image_avatar img{
    width: 65px;
    height: 65px;
    border-radius: 50%;
    border: 1.5px dashed #fff;
    padding: 5px;
}
.sp_paragraph_avatar .user_name{
    display: block;
    text-align: right;
}
.sp_paragraph_avatar{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    line-height: 28px;
    padding-top: 12px;
}
.sp_paragraph_avatar p{
    font-size: 13px;
}
.sp_icon_avatar{
    padding: 20px 0 15px 0;
}
.sp_icon_avatar a{
    margin: 0 6px;
    color: #fff;
}
.sp_my_account{
    display: flex;
    background-color: #f5f5f5;
    justify-content: space-between;
    position: fixed;
    right: 0px;
    top: 290px;
    bottom: 0;
    width: 311px;
    z-index: 1;
    overflow-y: auto;
}
.sp_my_account li{
    display: flex;
    font-size: 14px;
    font-weight: bold;
    border-radius: 0 8px 8px 0;
}
.sp_my_account .woocommerce_menu_dashboard li.is-active{
    background-color: #fff;
}
.sp_my_account li:hover{
    background-color: #fff;
    transition: .3s;
}
/* .sp_my_account li:hover a,.sp_my_account li:hover a i{
	color: #fff !important;
} */
.sp_my_account a{
    color: #4d5f76 !important;
    display: flex;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 13px;
    width: 100%;
    padding: 15px 25px;
}
.sp_my_account a i{
    margin: unset;
    margin-left: 15px;
}
.sp_my_account i{
    font-size: 20px;
    margin-bottom: 7px;
}
.sp_my_account .woocommerce_menu_dashboard{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px 15px 10px 0;
}
.sp_toch{
    position: fixed;
    top: 0;
    bottom: 0;
    left: -260px;
    overflow-y: auto;
    background-color: #fff;
    z-index: 9;
}
.sp_menu_bar_fade{
    position: fixed;
    z-index: 0;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #000;
    opacity: .1;
    display: none;
}
.sp_menu_bar_fade.show{
    display: block;
}
.sp_menu_bar{
    width: 240px;
}
.sp_toch .sp_avatar{
    background-color: #3D51FF;
}
.sp_my_account2 ul{
    font-size: 14px;
    font-weight: bold;
    padding: 10px;
}
.sp_my_account2 li{
    padding: 15px 0px;
}
.sp_my_account2 a{
    color: #4d5f76 !important;
}
.sp_my_account2 i{
    padding: 0 11px;
}
.sp_my_account2 a i{
    color: #4d5f76 !important;
    margin:unset;
}
.sp_my_account2 .fa-bell{
    font-size: 16px;
}
#body.show{
    overflow: hidden;
}
.notify .heartbit {
    position: absolute;
    top: 0px;
    left: 17px;
    height: 20px;
    width: 20px;
    z-index: 10;
    border: 5px solid #ffcc01;
    border-radius: 70px;
    -webkit-animation: heartbit 1s ease-out;
    animation-iteration-count: infinite;
}
.notify {
    position: relative;
    top: -32px;
    right: -3px;
    cursor: pointer;
}
@-webkit-keyframes heartbit {
    0% {
        -webkit-transform: scale(0);
        opacity: 0.0;
    }
    25% {
        -webkit-transform: scale(0.1);
        opacity: 0.1;
    }
    50% {
        -webkit-transform: scale(0.5);
        opacity: 0.3;
    }
    75% {
        -webkit-transform: scale(0.8);
        opacity: 0.5;
    }
    to {
        -webkit-transform: scale(1);
        opacity: 0.0;
    }
}
.notify .point {
    width: 7px;
    height: 7px;
    border-radius: 30px;
    background-color: #ffcc01;
    position: absolute;
    top: 12px;
    left: 27px;
}
.sp_body_panel table.my_account_orders td,.sp_body_panel table.my_account_orders th{
    text-align: center;
    padding: 12px 0px;
}
.sp_body_panel table.my_account_orders th{
    font-size: 16px;
    background-color: #f5f5f5;
}
.sp_body_panel>p{
    font-size: 16px;
}
.sp_body_panel .woocommerce-Address{
    font-size: 16px;
    margin-top: 10px;
}
.sp_body_panel .woocommerce-Address .woocommerce-Address-title{
    line-height: 22px;
}
.woocommerce-Address address{
    line-height: 22px;
}
.woocommerce-notices-wrapper .woocommerce-message{
    background-color: #fff;
}
.page-template-woocommerce-dashboard-template-php main .woocommerce .woocommerce-MyAccount-content{
    width: unset;
    background:unset;
    padding:unset;
    box-shadow:unset;
    border:unset;
    border-radius:unset;
    overflow:unset;
    float:unset;
}
.page-template-woocommerce-dashboard-template .woocommerce-form-login input[type="text"],
.page-template-woocommerce-dashboard-template .woocommerce-form-login input[type="password"],
.page-template-woocommerce-dashboard-template .woocommerce-form-register input[type="text"],
.page-template-woocommerce-dashboard-template .woocommerce-form-register input[type="password"]{
    border-radius: 8px;
    background: #fff;
    border: 1px solid #c8c8c8;
    color: #717171;
    font-size: 14px;
    line-height: 1.571;
    padding: 11px 12px;
    width: 100%;
    letter-spacing: -.8px;
    box-sizing: border-box;
}
.page-template-woocommerce-dashboard-template .main_login_form h2{
    font-size: 23px;
    color: #000;
    font-weight: 600;
}
body.page-template-woocommerce-dashboard-template-php.loggedout{
    /* height: 100vh; */
    display: flex;
    align-items: center;
    justify-content: center;
}
body.woocommerce-account ul.dokan-account-migration-lists li .left-content{
    line-height: 30px;
}
body.woocommerce-account ul.dokan-account-migration-lists li a.btn-primary{
    color: #ffffff;
}
/* ////////////////////////////////////////////////////////////footer//////////////////////////////////////////////// */
.sp_footer_panel{
    padding: 40px 0;
    display: flex;
    justify-content: center;
    margin-left: 278px;
}
.sp_footer_panel span{
    font-size: 12px;
    color: #888;
    font-weight: 100;
}
/* ///////////////////////////////////////////////////////////rtl///////////////////////////////////////////////////////////// */
body.rtl .sp_body_panel{
    margin: 93px 311px 0 40px;
}
body.rtl .sp_Information_panel li{
    margin: 0 0 0 12px;
    justify-content: space-between;
}
body.rtl .sp_Information_panel li:last-child{
    margin-left: 0;
}
body.rtl div.sp_Payment_gateway.notif_green{
    border-right: 4px solid #35cd3a;
    border-left: unset;
}
body.rtl .sp_Ports div.sp_Payment_gateway.notif_yellow{
    border-right: 4px solid #ffc021 !important;
    border-left: unset;
}
body.rtl .sp_Ports div.sp_Payment_gateway.notif_red{
    border-right: 4px solid #ff2121 !important;
    border-left: unset;
}
body.rtl .sp_Payment_gateway i{
    margin: 0 0 0 17px;
}
body.rtl .sp_top_last_posts::before{
    right: 0;
}
body.rtl .sp_top_last_posts::after{
    right: 130px;
}
/* body.rtl .sp_posts_and_Products .sp_last_posts:nth-child(2){
    margin: 0 40px 0 0;
} */
body.rtl .sp_Personal_Information_panel{
    right: 1px;
}
body.rtl .sp_footer_panel{
    margin: 0 278px 0 0;
}
body.rtl .sp_toch{
    right: -260px;
    left: unset !important ;
}
body.rtl .sp_image_avatar svg{
    left: 15px;
    right: unset;
}
/* ///////////////////////////////////////////////////////order_box/////////////////////////////////////////////////////// */
.sp_last_posts .my_account_orders{
    width: 100%;
}
.sp_last_posts .my_account_orders thead tr th,.sp_last_posts .my_account_orders tbody tr td{
    padding: 4px 8px;
    vertical-align: middle;
    text-align: right;
}
.sp_last_posts .my_account_orders tbody tr td{
    border-top: 1px solid rgba(0,0,0,.1);
}
.nk_orders_box_my_account{
    padding: 20px 7px;
}
.nk_orders_box_my_account .my_account_orders{
    border: 1px solid rgba(0,0,0,.1);
    border-collapse: separate;
    border-radius: 5px;
}
/* ///////////////////////////////////////////////////////widget_box/////////////////////////////////////////////////////// */
.sp_last_posts .product_list_widget li{
    display: flex;
    align-items: center;
}
.sp_last_posts .product_list_widget li a{
    display: flex;
    align-items: center;
    margin-left: 20px;
}
.sp_last_posts .product_list_widget li a img{
    max-width: 32px;
    border-radius: 50%;
    margin-left: 10px;
}
.sp_last_posts ul li{
    padding: 5px 0;
}
/* ///////////////////////////////////////////////////////comment_tab/////////////////////////////////////////////////////// */
.box_comments .list_of_comments .comment{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 10px;
    margin-bottom: 15px;
    background-color: unset;
    border-radius: 5px;
    box-shadow: 0px 0px 8px -6px #7c8a9c;
    align-items: center;
    position: relative;
}
.box_comments .list_of_comments .comment .comment_box{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.box_comments .list_of_comments .comment.approved{
    border-right: 4px solid #35cd3a;
}
.box_comments .list_of_comments .comment.unapproved{
    border-right: 4px solid #ffc021;
}
.box_comments .list_of_comments .comment i{
    padding-left: 10px;
    font-size: 27px;
}
.box_comments .list_of_comments .comment.approved i{
    color: #35cd3a;
}
.box_comments .list_of_comments .comment.unapproved i{
    color: #ffc021;
}
.box_comments .list_of_comments .comment .name_content_product,
.box_comments .list_of_comments .comment .comment_box .date_and_comment_link_box{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.box_comments .list_of_comments .comment .name_content_product{
    margin-bottom: 10px;
}
.box_comments .list_of_comments .comment .name_content_product .product_link{
    font-size: 19px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    line-height: 25px;
    padding: 0 20px;
}
.box_comments .list_of_comments .comment .comment_box .content_comment{
    font-size: 12px;
    font-weight: 400;
    color: #888;
    line-height: 22px;
    padding: 0 20px;
    text-align: justify;
}
.box_comments .list_of_comments .comment .product_comment_link{
    padding: 10px 10px;
    background-color: #35cd3a;
    color: #fff;
    border-radius: 5px;
}
.sp_body_panel textarea,.sp_body_panel input[type="date"],
.sp_body_panel input[type="url"],.sp_body_panel input[type="email"],
.sp_body_panel input[type="text"],.sp_body_panel input[type="number"],
.sp_body_panel input[type="time"],
.sp_body_panel input[type="password"],
.sp_body_panel input[type="tel"]{
    border-radius: 5px;
    background: #fff;
    border: 1px solid #c8c8c8;
    color: #717171;
    font-size: 14px;
    line-height: 1.571;
    padding: 11px 12px;
    width: 100%;
    letter-spacing: -.8px;
}
.woocommerce form .form-row span em{
    line-height: 30px;
}
.sp_body_panel .woocommerce-EditAccountForm fieldset legend{
    line-height: 30px;
    font-size: 15px;
}
.sp_body_panel .woocommerce-EditAccountForm fieldset{
    margin-top: 20px;
}
.sp_body_panel .woocommerce-EditAccountForm p .woocommerce-Button{
    margin-top: 15px;
    padding: 15px 15px;
    background-color: #35cd3a;
    color: #fff;
}
/* ///////////////////////////////////////////////////////announcements tab/////////////////////////////////////////////////////// */
.sp_Ports .announcement_box .title{
    font-size: 20px;
}
.sp_Ports .announcement_box .content_box{
    line-height: 22px;
    font-size: 14px;
}
.announcement_box{
    padding:10px;
}
/* ///////////////////////////////////////////////////////respansive/////////////////////////////////////////////////////// */
@media only screen and (max-width: 1200px) and (min-width: 960px){
    .sp_header_Contents li{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .sp_phone_support{
        display: flex;
        align-items: center;
    }
    .sp_header_Contents a{
        margin-top: 3px;
    }
    .sp_last_posts p{
        line-height: 22px;
    }
    .sp_posts_and_Products{
        flex-direction: column;
    }
    .sp_last_posts{
        width: 100%;
        padding: 1.5rem 0;
        margin: 3.5rem 0;
    }
    .sp_bottom_last_posts a{
        flex-direction: row !important;
        align-items: center !important;
    }
    .sp_top_last_posts{
        margin: 0 1.5rem;
    }
    .sp_bottom_last_posts{
        padding: 20px 1.5rem;
    }
    .sp_last_posts p{
        margin: 0 12px !important;
    }
    .sp_posts_and_Products .sp_last_posts:nth-child(2){
        margin: 0 !important;
    }
    .sp_background_head nav{
        padding: 0 8px;
    }
    .sp_bell{
        margin-top: 30px;
    }
    .sp_Personal_Information_panel{
        top: 162px;
    }
}
@media only screen and (max-width: 960px) and (min-width: 700px){
    .sp_Possibilities ul:nth-child(1){
        margin-right: 12px;
    }
    body.rtl .sp_Possibilities ul:nth-child(1){
        margin: 0 0 0 12px;
    }
}
@media only screen and (max-width: 700px) and (min-width: 320px){
    .sp_Possibilities{
        flex-direction: column;
    }
    .sp_Information_panel{
        width: 100%;
    }
    .unread_announcements_box{
        width: 320px;
        min-width: unset;
    }
}
@media only screen and (max-width: 960px) and (min-width: 450px){
    .sp_bottom_last_posts a{
        flex-direction: row !important;
        align-items: center !important;
    }
    .sp_last_posts p{
        margin: 0 12px !important;
    }
    .sp_posts_and_Products div:nth-child(2) li{
        flex-direction: row !important;
    }
}
@media only screen and (max-width: 960px) and (min-width: 320px){
    main{
        padding: 10px;
    }
    .sp_header_menu{
        display: none;
    }
    .sp_Personal_Information_panel{
        display: none;
    }
    .sp_phone_support{
        display: flex;
        font-size: 13px;
    }
    .sp_phone_support a:nth-child(2){
        margin: 0 5px;
    }
    .sp_body_panel{
        margin: 93px 0 0 0 !important;
    }
    .sp_Information_panel{
        flex-direction: column;
    }
    .sp_Information_panel li{
        width: 90%;
        margin-bottom: 14px !important;
    }
    .sp_posts_and_Products{
        flex-direction: column;
    }
    .sp_last_posts{
        width: 100%;
        padding: 1.5rem 0;
        margin: 3.5rem 0;
    }
    .sp_bottom_last_posts a{
        flex-direction: column;
        align-items: unset;
    }
    .sp_top_last_posts{
        margin: 0 1.5rem;
    }
    .sp_bottom_last_posts,.sp_last_posts>ul{
        padding: 20px 1.5rem !important;
    }
    .sp_last_posts p{
        line-height: 22px;
        margin: 0;
        font-size: 12px;
    }
    .sp_posts_and_Products .sp_last_posts:nth-child(2){
        margin: 0 !important;
    }
    .sp_posts_and_Products div:nth-child(2) li{
        flex-direction: column;
        align-items: unset;
    }
    .sp_posts_and_Products div:nth-child(2) a{
        flex-direction: row;
        align-items: center;
    }
    .sp_posts_and_Products div:nth-child(2) a:nth-child(2){
        justify-content: flex-end;
    }
    .sp_footer_panel{
        text-align: center;
        margin: 0 10px !important;
        line-height: 22px;
    }
    .sp_background_head nav{
        padding: 0 8px;
    }
    #menu_bar{
        display: block;
    }
    .box_comments .list_of_comments .comment.unapproved{
        flex-direction: column;
    }
    .box_comments .list_of_comments .comment .name_content_product,
    .box_comments .list_of_comments .comment .comment_box .date_and_comment_link_box{
        flex-direction: column;
        text-align: justify;
    }
    .comment_box .name_content_product .comment_date{
        margin-top: 20px;
    }
    .box_comments .list_of_comments .comment .name_content_product .product_link{
        font-size: 14px;
    }
    .sp_body_panel .my_account_orders thead tr th, .sp_body_panel .my_account_orders tbody tr td{
        padding: 4px 8px;
    }
    .sp_Information_panel li{
        padding: 16px;
    }

}
@media only screen and (max-width: 768px){
    body.rtl .sp_Possibilities ul:nth-child(1),body.rtl .sp_Information_panel li{
        margin-left:unset;
    }
    .sp_Information_panel li{
        width: 95% !important;
    }
}
@media only screen and (min-width: 1500px){
    .sp_last_posts{
        width: 46% !important;
    }
}