@using ParsaPoolad.Application.Services.BackEnd.Admin.Sliders.Queries
@model ResultGetCreateSlidersServices
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = " محصول جدید ";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section Head{
    <link rel="stylesheet" type="text/css" href="~/BackEnd/Admin/vendors/css/vendors-rtl.min.css">
    <link rel="stylesheet" type="text/css" href="~/BackEnd/Admin/vendors/css/forms/select/select2.min.css">
    <link rel="stylesheet" type="text/css" href="~/BackEnd/Admin/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/BackEnd/Admin/css/bootstrap-extended.min.css">
    <link rel="stylesheet" type="text/css" href="~/BackEnd/Admin/css/colors.min.css">
    <link rel="stylesheet" type="text/css" href="~/BackEnd/Admin/css/components.min.css">
    <link rel="stylesheet" type="text/css" href="~/BackEnd/Admin/css/themes/dark-layout.min.css">
    <link rel="stylesheet" type="text/css" href="~/BackEnd/Admin/css/themes/semi-dark-layout.min.css">
    <link rel="stylesheet" type="text/css" href="~/BackEnd/Admin/css/custom-rtl.min.css">
    <link rel="stylesheet" type="text/css" href="~/BackEnd/Admin/css/core/menu/menu-types/vertical-menu-karaji.min.css">
    <link rel="stylesheet" type="text/css" href="~/BackEnd/Admin/css/style.css">
}

@section Foo{
    <script src="~/BackEnd/Admin/vendors/js/vendors.min.js"></script>
    <script src="~/BackEnd/Admin/vendors/js/forms/select/select2.full.min.js"></script>
    <script src="~/BackEnd/Admin/js/scripts/configs/vertical-menu-dark.min.js"></script>
    <script src="~/BackEnd/Admin/js/core/app-menu.min.js"></script>
    <script src="~/BackEnd/Admin/js/core/app.min.js"></script>
    <script src="~/BackEnd/Admin/js/scripts/components.min.js"></script>
    <script src="~/BackEnd/Admin/js/scripts/footer.min.js"></script>
    <script src="~/BackEnd/Admin/js/scripts/customizer.min.js"></script>
    <script src="~/BackEnd/Admin/js/scripts/forms/select/form-select2.min.js"></script>
    <script>$('div.alert').delay(3000).slideUp(300); </script>
}


<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">
        <div class="content-header row"></div>
        <div class="content-body">
            <!-- app invoice View Page -->

            <form asp-area="Admin" asp-controller="Sliders" asp-action="Create" enctype="multipart/form-data" method="post">
                <section class="invoice-edit-wrapper">

                    <div class="row">
                        <!-- invoice view page -->
                        <div class="col-xl-12 col-md-12 col-12">
                            <div class="card">
                                <div class="card-content">
                                    <div class="card-body pb-0 mx-25">

                                        <section class="basic-select2">
                                            <div class="row">
                                                <div class="col-6">
                                                    <div class="card">
                                                        @* <div class="card-header"> *@
                                                        @*    <h6 class="text-primary"> انتخاب موقعیت:<b class="text-danger h3">*</b></h6> *@
                                                        @* </div> *@
                                                        <div class="card-content">
                                                            <div class="card-body">
                                                                <div class="row">
                                                                    <h6 class="text-primary"> عکس:<b class="text-danger h3">*</b></h6>
                                                                    <div class="col-md-12 mb-1">
                                                                        <fieldset>
                                                                            <div class="input-group">
                                                                                @* <div class="input-group-prepend"> *@
                                                                                @*     <span class="input-group-text" id="inputGroupFileAddon01">Upload</span> *@
                                                                                @* </div> *@
                                                                                <div class="custom-file">
                                                                                    <input asp-for="Images" type="file" multiple class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                                                                                    <label asp-for="Images" class="custom-file-label" for="inputGroupFile01"> انتخاب فایل</label>
                                                                                    <span asp-validation-for="Images" class="text-danger"></span>
                                                                                </div>
                                                                            </div>
                                                                        </fieldset>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-6">
                                                    <div class="card">
                                                        <div class="card-content">
                                                            <div class="card-body">
                                                                <div class="row">
                                                                    <div class="col-md-12">
                                                                        <h6 class="text-primary"> انتخاب موقعیت:<b class="text-danger h3">*</b></h6>
                                                                        @* <p>Use <code>.select2</code> class for basic select2 control.</p> *@
                                                                        <div class="form-group">
                                                                            <select asp-for="Position" class="select2 form-control UnitProduct">
                                                                                <option value="0">انتخاب کنید</option>
                                                                                <option value="1">عکس اول</option>
                                                                                <option value="2">عکس دوم</option>
                                                                                <option value="3">عکس سوم</option>
                                                                                <option value="4">عکس چهارم(اسلایدر)</option>
                                                                            </select>
                                                                            <span asp-validation-for="Position" class="text-danger"></span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </section>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- invoice action  -->
                    </div>
                </section>

                <button class="btn btn-primary btn-block subtotal-preview-btn">ثبت</button>
            </form>
        </div>
    </div>
</div>