<div id="yith-wacp-popup" class="fade-in">

    <div class="yith-wacp-overlay"></div>

    <div class="yith-wacp-wrapper woocommerce">

        <div class="yith-wacp-main">

            <div class="yith-wacp-head">
                <a href="#"
                   class="yith-wacp-close">
                    X بستن
                </a>
            </div>

            <div class="yith-wacp-content"></div>

        </div>

    </div>

</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script>

    jQuery(document).ready(function ($) {


        if ($("body.woocommerce-checkout form.woocommerce-checkout").length) {

            $('.newkala_content_right_checkout_page, .newkala_side_checkout_page').theiaStickySidebar({
                additionalMarginTop: $('header#header_newkala').height() + 50
            });
        }


        if ($(".woocommerce-MyAccount-navigation").length) {

            $('.woocommerce-MyAccount-content, .woocommerce-MyAccount-navigation').theiaStickySidebar({
                additionalMarginTop: $('header#header_newkala').height() + 50
            });
        }


    });

</script>

<div class="onliner_main_loading">
    <div class="content_loading">
        <img class="loading_image"
             src="/Images/Settings/Logo-Header.jpg"
             data-lazy-src="/Images/Settings/Logo-Header.jpg">
        <noscript>
            <img class="loading_image"
                 src="/Images/Settings/Logo-Header.jpg">
        </noscript>
        <div class="cssload-container">
            <div class="cssload-loading">
                <i></i><i></i><i></i><i></i>
            </div>
        </div>
    </div>
</div>
@* </div> *@

<script type="text/javascript">
    (function () {
        var c = document.body.className;
        c = c.replace(/woocommerce-no-js/, 'woocommerce-js');
        document.body.className = c;
    })()
</script>
<script data-minify="1" type='text/javascript'
        src='/js/countdownTimer.js'
        id='countdownTimer-js'></script>
<script data-minify="1" type='text/javascript'
        src='/js/owl.carousel.min-2.3.4.js'
        id='owl-carousel-js'></script>
<script data-minify="1" type='text/javascript'
        src='/wp-content/themes/newkala/js/custom.js'
        id='nk-custom-jquery-js'></script>
<script type='text/javascript'
        src='/wp-content/plugins/yith-woocommerce-wishlist/assets/js/jquery.selectBox.min.js?ver=1.2.0'
        id='jquery-selectBox-js'></script>
<script data-minify="1" type='text/javascript'
        src='/js/jquery.yith-wcwl.js'
        id='jquery-yith-wcwl-js'></script>
<script type='text/javascript'
        src='/wp-content/plugins/woocommerce/assets/js/jquery-blockui/jquery.blockUI.min.js?ver=2.70'
        id='jquery-blockui-js'></script>

<script type='text/javascript'
        src='/wp-content/plugins/woocommerce/assets/js/frontend/add-to-cart.min.js?ver=4.7.0'
        id='wc-add-to-cart-js'></script>
<script type='text/javascript'
        src='/wp-content/plugins/woocommerce/assets/js/js-cookie/js.cookie.min.js?ver=2.1.4'
        id='js-cookie-js'></script>

<script type='text/javascript'
        src='/wp-content/plugins/woocommerce/assets/js/frontend/woocommerce.min.js?ver=4.7.0'
        id='woocommerce-js'></script>

<script type='text/javascript'
        src='/wp-content/plugins/woocommerce/assets/js/frontend/cart-fragments.min.js?ver=4.7.0'
        id='wc-cart-fragments-js'></script>

<script type='text/javascript'
        src='/wp-content/plugins/yith-woocommerce-added-to-cart-popup-premium/assets/js/wacp-frontend.min.js?ver=1.6.0'
        id='yith-wacp-frontend-script-js'></script>
<script type='text/javascript'
        src='/wp-content/plugins/woocommerce/assets/js/prettyPhoto/jquery.prettyPhoto.min.js?ver=3.1.6'
        id='prettyPhoto-js'></script>
<script type='text/javascript' id='jcaa-product-js-extra'>
    /* <![CDATA[ */
    var jcaa = {"enable_validation": "yes", "enable_attr_toggle": "yes"};
    /* ]]> */
</script>
<script data-minify="1" type='text/javascript'
        src='/js/product.js'
        id='jcaa-product-js'></script>
<script type='text/javascript'
        src='/wp-content/plugins/dokan-lite/assets/vendors/magnific/jquery.magnific-popup.min.js?ver=3.0.13'
        id='dokan-popup-js'></script>

<script data-minify="1" type='text/javascript'
        src='/js/jed.js'
        id='dokan-i18n-jed-js'></script>
@* <script data-minify="1" type='text/javascript' *@
@*         src='/wp-content/cache/min/1/preview/wp-content/plugins/dokan-lite/assets/js/login-form-popup-682956ecdeb9606d5addc8921562ec6f.js' *@
@*         id='dokan-login-form-popup-js'></script> *@
<script type='text/javascript'
        src='/wp-content/plugins/yith-woocommerce-added-to-cart-popup-premium/assets/js/perfect-scrollbar.min.js?ver=1.6.0'
        id='wacp-scroller-plugin-js-js'></script>
@* <script type='text/javascript' src='/wp-includes/js/comment-reply.min.js?ver=5.6' id='comment-reply-js'></script> *@

@* <div class="newkala_container_dl_app_in_mobile"> *@
@*     <span class="close_its">x</span> *@
@*     <img data-skip-lazy="" class="skip-lazy" *@
@*          src=""> *@
@*     <span class="des_notification_dl_app">کارایی بهتر در اپلیکیشن</span> *@
@*     <a target="_blank" rel="nofollow" href="/">دانلود برنامه</a> *@
@* </div> *@

<script>

    jQuery('span.close_its').on('click', function () {
        jQuery('.newkala_container_dl_app_in_mobile').hide(0);
    });
    jQuery(document).ready(function ($) {
        setTimeout(function () {
            jQuery('.newkala_container_dl_app_in_mobile').css('opacity', '1');
        }, 3000);
    });

</script>

<script>window.lazyLoadOptions = {
    elements_selector: "img[data-lazy-src],.rocket-lazyload",
    data_src: "lazy-src",
    data_srcset: "lazy-srcset",
    data_sizes: "lazy-sizes",
    class_loading: "lazyloading",
    class_loaded: "lazyloaded",
    threshold: 300,
    callback_loaded: function (element) {
        if (element.tagName === "IFRAME" && element.dataset.rocketLazyload == "fitvidscompatible") {
            if (element.classList.contains("lazyloaded")) {
                if (typeof window.jQuery != "undefined") {
                    if (jQuery.fn.fitVids) {
                        jQuery(element).parent().fitVids()
                    }
                }
            }
        }
    }
};
window.addEventListener('LazyLoad::Initialized', function (e) {
    var lazyLoadInstance = e.detail.instance;
    if (window.MutationObserver) {
        var observer = new MutationObserver(function (mutations) {
            var image_count = 0;
            var iframe_count = 0;
            var rocketlazy_count = 0;
            mutations.forEach(function (mutation) {
                for (i = 0; i < mutation.addedNodes.length; i++) {
                    if (typeof mutation.addedNodes[i].getElementsByTagName !== 'function') {
                        return
                    }
                    if (typeof mutation.addedNodes[i].getElementsByClassName !== 'function') {
                        return
                    }
                    images = mutation.addedNodes[i].getElementsByTagName('img');
                    is_image = mutation.addedNodes[i].tagName == "IMG";
                    iframes = mutation.addedNodes[i].getElementsByTagName('iframe');
                    is_iframe = mutation.addedNodes[i].tagName == "IFRAME";
                    rocket_lazy = mutation.addedNodes[i].getElementsByClassName('rocket-lazyload');
                    image_count += images.length;
                    iframe_count += iframes.length;
                    rocketlazy_count += rocket_lazy.length;
                    if (is_image) {
                        image_count += 1
                    }
                    if (is_iframe) {
                        iframe_count += 1
                    }
                }
            });
            if (image_count > 0 || iframe_count > 0 || rocketlazy_count > 0) {
                lazyLoadInstance.update()
            }
        });
        var b = document.getElementsByTagName("body")[0];
        var config = {childList: !0, subtree: !0};
        observer.observe(b, config)
    }
}, !1)</script>
<script data-no-minify="1" async
        src="/wp-content/plugins/wp-rocket/assets/js/lazyload/16.1/lazyload.min.js"></script>
<div class="black_opacity_responsive_menu"></div>
<div class="main_newkala_responsive_menu">

    <div class="logo_responsive_menu">
        <a href="/">
            <img
                src="/Images/Settings/Logo-Header.jpg"
                data-lazy-src="/Images/Settings/Logo-Header.jpg">
            <noscript>
                <img src="/Images/Settings/Logo-Header.jpg">
            </noscript>
        </a>


    </div>
    <partial name="_ResponsiveMenusPartial"/>
    <script>
        jQuery('.responsive_main_menu li.menu-item-has-children').append('<span class="toggle_menu"></span>');
        jQuery('.responsive_main_menu li.menu-item-has-children span.toggle_menu').click(function () {
            jQuery(this).parent().find('ul:first').toggleClass('show');
            jQuery(this).toggleClass("opened");
        });
    </script>
</div>

