@using Application.Services.FrontEnd.Common
@inject ISiteSetting _siteSetting;

<!DOCTYPE html>
<html dir="rtl" lang="fa-IR">
<meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
<head>
    <title>@ViewData["Title"].ToString() | @_siteSetting.GetSiteSetting().SiteName</title>
    @await RenderSectionAsync("Head", false)
    <partial name="_HeadPartial"/>
    <script type="text/javascript">window.$crisp=[];window.CRISP_WEBSITE_ID="0ec81915-0ce1-4019-bcc0-4edb1983d017";(function(){d=document;s=d.createElement("script");s.src="https://client.crisp.chat/l.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();</script>
</head>

<!body @await RenderSectionAsync("BodyAttr", true)>
<partial name="_HeaderPartial"/>
<partial name="_MenusPartial"/>

@RenderBody()

<partial name="_FooterPartial"/>
<partial name="_FooPartial"/>
@await RenderSectionAsync("Foo", false)
@await RenderSectionAsync("Scripts", false)

@* @await RenderSectionAsync("Scripts", required: false) *@
</!body>
</html>