@using Application.Services.FrontEnd.Common
@inject ISiteSetting _siteSetting;

<!DOCTYPE html>
<html lang="fa">
<head>
    <title>@ViewData["Title"].ToString() | @_siteSetting.GetSiteSetting().SiteName</title>
     <partial name="_HeadPartial"/>
    @await RenderSectionAsync("Head", false)
   

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-M88FWR8');</script>
    <!-- End Google Tag Manager -->


    <!-- AMP Analytics -->
    <script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>
</head>

<body>


<!-- Google Tag Manager (noscript) -->
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M88FWR8"
            height="0" width="0" style="display:none;visibility:hidden">
    </iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->

<!-- Google Tag Manager -->
<amp-analytics config="https://www.googletagmanager.com/amp.json?id=GTM-5LWFZWM&gtm.url=SOURCE_URL" data-credentials="include"></amp-analytics>

<partial name="_HeaderPartial"/>

@RenderBody()

<partial name="_FooterPartial"/>
<partial name="_FooPartial"/>
@await RenderSectionAsync("Foo", false)
@await RenderSectionAsync("Scripts", false)
</body>

</html>