@using Application.Services.FrontEnd.Common
@inject ISiteSetting SiteSetting;

<!DOCTYPE html>
<html lang="fa">
<head>
    <title>@ViewData["Title"].ToString() | @SiteSetting.GetSiteSetting().SiteName</title>
    <partial name="_HeadPartial"/>
    @await RenderSectionAsync("Head", false)


    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-M88FWR8');</script>
    <!-- End Google Tag Manager -->


    <!-- AMP Analytics -->
    <script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>
</head>

<body>


<!-- Google Tag Manager (noscript) -->
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M88FWR8"
            height="0" width="0" style="display:none;visibility:hidden">
    </iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->

<!-- Google Tag Manager -->
<amp-analytics config="https://www.googletagmanager.com/amp.json?id=GTM-5LWFZWM&gtm.url=SOURCE_URL" data-credentials="include"></amp-analytics>

<partial name="_HeaderPartial"/>
    <div class="nav-categories-overlay"></div>
<div class="overlay-search-box"></div>

    
<main style="padding-top: 132px">
   @RenderBody()
</main>

<partial name="_FooterPartial"/>
<partial name="_FooPartial"/>
@await RenderSectionAsync("Foo", false)
@await RenderSectionAsync("Scripts", false)
<!--BEGIN RAYCHAT CODE--> <script type="text/javascript">!function(){function t(){var t=document.createElement("script");t.type="text/javascript",t.async=!0,localStorage.getItem("rayToken")?t.src="https://app.raychat.io/scripts/js/"+o+"?rid="+localStorage.getItem("rayToken")+"&href="+window.location.href:t.src="https://app.raychat.io/scripts/js/"+o+"?href="+window.location.href;var e=document.getElementsByTagName("script")[0];e.parentNode.insertBefore(t,e)}var e=document,a=window,o="3e7bc701-3103-458f-94ac-3eb7c115f83c";"complete"==e.readyState?t():a.attachEvent?a.attachEvent("onload",t):a.addEventListener("load",t,!1)}();</script> <!--END RAYCHAT CODE-->


<!--BEGIN floating Left-->
<div class="floating-button">

        <i class="fa fa-database" aria-hidden="true"></i>
    </div>
<div class="content-floating-button">

    <div class="floating-button-head">
        <i class="fa fa-times closefloat " aria-hidden="true"> </i>
        <p class="avrag-floating">میانگین قیمت</p>
    </div>

    <div class="floating-button-list">

        <div class="floating-button-list-scroll">

            <table class="jadval">



                <tr class="trzir">
                    <td class="tdzir">9929</td>
                    <td class="tdzir">هاش سبک</td>

                </tr>
                <tr class="trzir">
                    <td class="tdzir">9929</td>
                    <td class="tdzir">هاش سبک</td>

                </tr>
                <tr class="trzir">
                    <td class="tdzir">9929</td>
                    <td class="tdzir">هاش سبک</td>

                </tr>
                <tr class="trzir">
                    <td class="tdzir">9929</td>
                    <td class="tdzir">هاش سبک</td>

                </tr>
                <tr class="trzir">
                    <td class="tdzir">9929</td>
                    <td class="tdzir">هاش سبک</td>

                </tr>
                <tr class="trzir">
                    <td class="tdzir">9929</td>
                    <td class="tdzir">هاش سبک</td>

                </tr>
                <tr class="trzir">
                    <td class="tdzir">9929</td>
                    <td class="tdzir">هاش سبک</td>

                </tr>
                <tr class="trzir">
                    <td class="tdzir">9929</td>
                    <td class="tdzir">هاش سبک</td>

                </tr>


                <tr class="trzir">
                    <td class="tdzir">9929</td>
                    <td class="tdzir">هاش سبک</td>

                </tr>
                <tr class="trzir">
                    <td class="tdzir">9929</td>
                    <td class="tdzir">هاش سبک</td>

                </tr>
                <tr class="trzir">
                    <td class="tdzir">9929</td>
                    <td class="tdzir">هاش سبک</td>

                </tr>




            </table>




        </div>

    </div>

</div>
<!--END floating Left-->

</body>

</html>