<!DOCTYPE html>
<html dir="rtl" lang="fa-IR">
<meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
<head>
    <meta charset="utf-8"/>
    <title>اکوفولاد | @ViewData["Title"]</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta name="theme-color" content="#dd3333"/>
    
        @await RenderSectionAsync("Head", false)

    <partial name="_HeadPartial"/>
</head>

@* <body data-rsssl=1 class="rtl home page-template page-template-home-page page-template-home-page-php page page-id-1211 theme-newkala woocommerce-no-js nk_desktop nk_my_account_page loggedout elementor-default dokan-theme-newkala"> *@
<!body @await RenderSectionAsync("BodyAttr", true)>
<partial name="_HeaderPartial"/>
<partial name="_MenusPartial"/>

@RenderBody()

<partial name="_FooterPartial"/>
<partial name="_FooPartial"/>
@await RenderSectionAsync("Foo", false)
@await RenderSectionAsync("Scripts", false)


@* @await RenderSectionAsync("Scripts", required: false) *@
</!body>
</html>