@using Application.Services.FrontEnd.Common
@inject ISiteSetting _siteSetting;

<nav class="main-menu">
<ul class="new-list-menu">

 @await Component.InvokeAsync("GetMenus")
    
 
    
    <li class="item-list-menu megamenu-1">
        <a asp-controller="Products" asp-action="Index" class="list-category first after">
            <i class="mdi mdi-plus-outline text-primary"></i>
            محصولات 
        </a>
    </li>
    
    
    <li class="item-list-menu megamenu-1">
        <a asp-controller="Blogs" asp-action="Index" class="list-category first after">
            <i class="mdi mdi-plus-outline text-primary"></i>
            بلاگ @_siteSetting.GetSiteSetting().SiteName  
        </a>
    </li>
    
    <li class="item-list-menu megamenu-1">
        <a asp-controller="Blogs" asp-action="Index" class="list-category first after">
            <i class="mdi mdi-plus-outline text-primary"></i>
            ارتباط با ما
        </a>
    </li>
    
    <li class="item-list-menu megamenu-1">
        <a asp-controller="Blogs" asp-action="Index" class="list-category first after">
            <i class="mdi mdi-plus-outline text-primary"></i>
            درباره  ما
        </a>
    </li>
    
    
    
@* <li class="map-city-item"> *@
@*     <a href="#" class="map-city"> *@
@*         لطفا شهر و استان *@
@*         خود را انتخاب کنید *@
@*         <span class="mdi mdi-map-marker-outline"></span> *@
@*     </a> *@
@* </li> *@
</ul>
</nav>