<ul class="responsive_main_menu">
    <li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-90">
        <a href="/" aria-current="page">صفحه اصلی</a>
    </li>
    @await Component.InvokeAsync("GetMenus")

    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-3396">
        <a
            href="#">
            منوی کلاسیک
        </a>
        <ul class="sub-menu">
            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3397">
                <a href="#">
                    سطح
                    اول
                </a>
            </li>
            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-3398">
                <a href="#">سطح اول</a>
                <ul class="sub-menu">
                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3400">
                        <a href="#">
                            سطح
                            دوم
                        </a>
                    </li>
                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3401">
                        <a href="#">
                            سطح
                            دوم
                        </a>
                    </li>
                </ul>
            </li>
            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3399">
                <a href="#">
                    سطح
                    اول
                </a>
            </li>
        </ul>
    </li>
</ul>