@using Application.Services.FrontEnd.Common
@inject ISiteSetting _siteSetting;

 <!--    responsive-megamenu-mobile----------------->
        <nav class="sidebar">
            <div class="nav-header">
                <div class="header-cover"></div>
                <div class="logo-wrap">
                    <a class="logo-icon" href="/"><img alt="logo-icon" src="@_siteSetting.GetSiteSetting().LogoImage" width="40"></a>
                </div>
            </div>
            @await Component.InvokeAsync("ResponsiveGetMenus")
        </nav>
        <div class="nav-btn">
            <span class="linee1"></span>
            <span class="linee2"></span>
            <span class="linee3"></span>
        </div>
        <div class="overlay"></div>
        <!--    responsive-megamenu-mobile----------------->